<template name="home_content">
    <div class="col_three_fifth nobottommargin">
        {{> home_slides}}
    </div>
    <div class="col_two_fifth col_last nobottommargin">
        {{> home_announce}}
    </div>
    <div class="clear"></div>
    <br>
    <div class="col_three_fifth nobottommargin">
        <h4 class="my-underline" style="width:108px;font-size: 16px;">全球重要股市</h4>
        <img src="/stock2.png" style="height: 70px">
        <BR>
        <img src="/stock2.png" style="height: 70px">
        <!-- <BR> -->
    </div>
    <div class="col_two_fifth nobottommargin col_last">
        <h4 class="my-underline" style="font-size: 16px;">即時匯率</h4>
        <!-- Start FreeStockCharts.com WatchList Widget -->
        <p width="100%" align="center" style="padding-bottom:0px; margin-bottom:0px;">
            <iframe width="300" height="142" scrolling="no" frameborder="0" style="border:none;" src="http://widgets.freestockcharts.com/WidgetServer/WatchListWidget.aspx?sym=EUR/USD,USD/JPY,GBP/USD,USD/CAD,AUD/USD&style=WLStyleWhite&w=300"></iframe>
        </p>
        <!-- End FreeStockCharts.com WatchList Widget -->
    </div>
</template>
