<template name="home_announce">
    <style type="text/css">
    .spost,
    .mpost {
        margin-top: 7px;
        padding-top: 7px;
    }
    </style>
    <h4 class="my-underline" style="font-size: 16px;">重要公告</h4>
    <!-- <div style="border-bottom: 1px #fff solid; height:30px;">重要公告</div> -->
    <div class="tabs tabs-bordered clearfix" id="tab-2">
        <ul class="tab-nav clearfix">
            <li><a href="#tabs-5"><i class="icon-line-globe norightmargin"></i></a></li>
            {{#if currentUser}}
            <li><a href="#tabs-6">內部公告</a></li>
            {{/if}}
        </ul>
        <div class="tab-container">
            <div class="tab-content clearfix" id="tabs-5">
                {{#each announce}}
                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4>{{publishAt_time}}</h4>
                            <h4>{{value}}</h4>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{#if currentUser}}
            <div class="tab-content clearfix" id="tabs-6">
                {{#each announce2}}
                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4>{{publishAt_time}}</h4>
                            <h4>{{value}}</h4>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
</template>