<template name="afterservice">
    <style type="text/css">
    #content {
      overflow : visible;
    }
    #myModalFile .modal-dialog,
    #myModalFile .modal-content {
        height: 95%
    }
    #myModalFile .modal-body {
        height: 85%;
        overflow-y: scroll;
    }
    </style>

    <div class="modal fade" id="myModalFile" tabindex="-1" role="dialog" aria-labelledby="myModalFileLabel">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">檔案預覽 <span id="modal2-link"></span></h4>
                </div>
                <div class="modal-body">
                    <iframe id="file_iframe" src="" width="100%" height="100%"></iframe>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-mycancel btn btn-default" data-dismiss="modal">關閉</button>
                    <!-- <button type="button" data-dismiss="modal" class="btn-print btn btn-warning">列印</button> -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <h3>售後服務</h3>
    <p>看要放什麼</p>
    <!-- <input type="file" class="file_bag" multiple> -->
    <!-- <button class="upload">Upload</button> -->
    <p>&nbsp;</p>

    <input id="input-3" name="input2[]" type="file" class="file file_bag file-loading" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
	<BR>
	<a href="#" class="upload button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
    {{#each files}}
    <h4>{{file.original_name}}</h4>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
            {{percent_uploaded}}%
        </div>
    </div>
    {{/each}}
    <!-- <div class="line"></div> -->
    <div id="cFiles"></div>
</template>
