<template name="blank_form">
    <h3>4-2 空白表單</h3>
    <div class="modal fade" id="myModalFile" tabindex="-1" role="dialog" aria-labelledby="myModalFileLabel">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">預覽文件<span id="modal2-link"></span></h4>
                </div>
                <div class="modal-body" style="height: 800px">
                    <iframe id="file_iframe" src="" width="100%" height="100%"></iframe>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input id="input-3" name="input2[]" type="file" class="file file_bag file-loading" multiple
            data-show-upload="false" data-show-caption="true" data-show-preview="true">
        <BR>
        <a href="#" class="upload btn btn-success fright"><i class="icon-external-link"></i>Upload</a>
        <br>
        {{#each files}}
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0"
                aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                {{file.original_name}} {{percent_uploaded}}%
            </div>
        </div>
        {{/each}}
    </div>
    <div>拖曳可改變順序</div>
    <div id="cFiles"></div>
    <br>
    <br>
    <br>
    <br>
</template>