<template name="clientslist2">
  <style type="text/css">
    #content {
      overflow: visible;
    }
  </style>
  <div class="fancy-title title-border">
    <h3>1-1 客戶列表</h3>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-2 md-col-2">
      <label>Search</label>
    </div>
    <div class="col-xs-10 md-col-10">
      <input type="text" id="search_text" placeholder="客戶編號/中文名/英文名" class="sm-form-control"
        oninput="Template.clientslist2.loadPortfolio()" onpropertychange="Template.clientslist2.loadPortfolio()">
    </div>
  </div>
  <BR>
  <BR>
  <div id="clients"></div>
  <BR>
  <BR>
</template>