<template name="client">
    <style type="text/css">
        #content {
            overflow: visible;
        }

        .my-form {
            margin-bottom: 10px;
        }

        .bg-grey {
            background-color: #eeeeee;
            width: 15%;
        }

        .width-title {
            width: 15%;
        }

        .width-content {
            width: 35%;
        }

        table {
            margin-bottom: 0px !important;
        }

        .editable-click {
            cursor: pointer;
        }

        .on-editing {
            display: none;
        }
    </style>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <form class="form-modal1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增投資項目</h4>
                    </div>
                    <div class="modal-body" style="margin: 15px;">
                        <div class="col_one_third my-form">
                            <label for="productl1">產品類別1</label>
                        </div>
                        <div class="col_two_third col_last my-form">
                            <select id="eproduct1" name="product1_id" class="product sm-form-control">
                                <option value="">-- 全選 --</option>
                                {{#each Product1}}
                                <option value="{{_id}}">{{value}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_third my-form">
                            <label for="productl2">產品類別2</label>
                        </div>
                        <div class="col_two_third col_last my-form">
                            <select id="eproduct2" name="product2_id" class="product sm-form-control">
                                <option value="">-- 無 --</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_third my-form">
                            <label for="productl3">產品類別3</label>
                        </div>
                        <div class="col_two_third col_last my-form">
                            <select id="eproduct3" name="product3_id" class="product sm-form-control">
                                <option value="">-- 無 --</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_third my-form">
                            <label for="productl4">產品類別4</label>
                        </div>
                        <div class="col_two_third col_last my-form">
                            <select id="eproduct4" name="product4_id" class="product sm-form-control">
                                <option value="">-- 無 --</option>
                            </select>
                        </div>
                        <BR>
                        <BR>
                    </div>
                    <div class="modal-footer">
                        <span class="modal1-error"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button type="button" class="my-btn-submit1 btn btn-primary">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style type="text/css">
        #myModalFile .modal-dialog,
        #myModalFile .modal-content {
            height: 95%
        }

        #myModalFile .modal-body {
            height: 85%;
            overflow-y: scroll;
        }
    </style>

    <div class="modal fade" id="myModalFile" tabindex="-1" role="dialog" aria-labelledby="myModalFileLabel">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">檔案預覽 <span id="modal2-link"></span></h4>
                </div>
                <div class="modal-body">
                    <iframe id="file_iframe" src="" width="100%" height="100%"></iframe>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-mycancel btn btn-default" data-dismiss="modal">關閉</button>
                    <!-- <button type="button" data-dismiss="modal" class="btn-print btn btn-warning">列印</button> -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
    <!-- <textarea style="width:100%; height: 75px;margin-bottom: 10px;" id="modal2-mail3" name="email3" class="textarea sm-form-control"
        placeholder="請輸入Email，並以逗號分隔"></textarea> -->
    </div>
    <div class="" style="text-align: right;">
         {{#if isInRole 'auth_cus-del' }}
            <button style="margin-top:-7px;" type="button" id="del-form-btn" name="quick-contact-form-submit" class="button button-small button-3d fright button-pink"
                value="button">
                <i class="icon-trash2"></i> 刪除本筆</button>
        {{/if}}
        <!-- <input id='notice'> -->
        {{#if isInRole 'auth_cus-edit'}}
            <!-- <span class="my-xedit my-xedit-text" id="notice"></span> -->
            <!-- <a href="javascript:history.back()">回上一頁</a> -->
            <button style="margin-top:-7px;" type="button" id="unedit-form-btn" name="quick-contact-form-submit" class="button button-small button-3d fright button-purple"
                value="button">
                <i class="icon-lock3"></i> 關閉編輯</button>
            <button style="margin-top:-7px;" type="button" id="edit-form-btn" name="quick-contact-form-submit" class="button button-small button-3d fright button-amber"
                value="button">
                <i class="icon-unlock"></i> 開啟編輯</button>
            <button style="margin-top:-7px;" type="button" id="newclient-form-btn" name="quick-contact-form-submit" class="button button-small button-3d fright button-leaf"
                value="button">
                <i class="icon-plus"></i> 新增客戶</button>
        {{/if}}
    </div>
    <div class="clear"></div>
    <div class="fancy-title title-border ">
        <h4>客戶資料 {{name_cht}}&nbsp;<span class="my-xedit my-xedit-text" id="notice"></span></h4>
        <div style="width: 325px;margin-top: 23px;margin-bottom:5px;" class="fright">
            <select id="client-portfolio-id" name="template-contactform-service" class="fleft sm-form-control" style="width: 200px;margin-top: 8px;">
                <option value="">-- 投資項目 --</option>
                {{#each portfolios}}
                <option value="{{_id}}">{{product3_text}} {{! product4_text}} {{account_num}}</option>
                {{/each}}
            </select>
            <button type="button" id="portfolios-form-btn" data-toggle="modal" data-target="#myModal1" name="" class="button button-small button-3d fright button-yellow"
                value="button">
                <i class="icon-plus"></i> 投資項目</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr class="info">
                <!-- <tr> -->
                <th colspan="4">基本資料</th>
                <!-- <th>First Name</th>
                              <th>Last Name</th>
                              <th>Username</th> -->
            </tr>
        </thead>
        <colgroup>
            <col class="width-title bg-grey" />
            <col class="width-content" />
            <col class="width-title bg-grey" />
            <col class="width-content" />
        </colgroup>
        <tbody>
            <tr>
                <td>客戶編號</td>
                <td><span class="my-xedit my-xedit-text" id="uid"></span></td>
                <td>稱謂</td>
                <td><span class="my-xedit my-xedit-text" id="title_text"></span></td>
            </tr>
            <tr>
                <td>中文姓名</td>
                <td><span class="my-xedit my-xedit-text" id="name_cht"></span></td>
                <td>國籍</td>
                <td><span class="my-xedit my-xedit-text" id="country_text"></span></td>
            </tr>
            <tr>
                <td>英文姓名</td>
                <td><span class="my-xedit my-xedit-text" id="name_eng"></span></td>
                <td>國籍(2)</td>
                <td><span class="my-xedit my-xedit-text" id="country2_text"></span></td>
            </tr>
            <tr>
                <td>生日</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="birthday"></span></td>
                <td>婚姻</td>
                <td><span class="my-xedit my-xedit-text" id="marriage"></span></td>
            </tr>
            <tr>
                <td>身分證字號</td>
                <td><span class="my-xedit my-xedit-text" id="identify"></span></td>
                <td>護照號碼</td>
                <td><span class="my-xedit my-xedit-text" id="passport"></span></td>
            </tr>
            <tr>
                <td>電子信箱(主要)</td>
                <td><span class="my-xedit my-xedit-text" id="email"></span></td>
                <td>聯絡電話(M)</td>
                <td><span class="my-xedit my-xedit-text" id="cellnum"></span></td>
            </tr>
            <tr>
                <td>電子信箱(備用)</td>
                <td><span class="my-xedit my-xedit-text" id="email2"></span></td>
                <td>聯絡電話(H)</td>
                <td><span class="my-xedit my-xedit-text" id="addr1_phone"></span></td>
            </tr>
            <tr>
                <td>戶籍地址(中)</td>
                <td>
                    <span class="my-xedit my-xedit-text" id="addr2_post5"></span>&nbsp;&nbsp;<span class="my-xedit my-xedit-text"
                        id="addr2_cht"></span>
                </td>
                <td>戶籍地址(英)</td>
                <td><span class="my-xedit my-xedit-text" id="addr2_eng"></span></td>
            </tr>
            <tr>
                <td>通訊地址(中)</td>
                <td><span class="my-xedit my-xedit-text" id="addr1_post5"></span>&nbsp;&nbsp;<span class="my-xedit my-xedit-text"
                        id="addr1_cht"></span></td>
                <td>通訊地址(英)</td>
                <td><span class="my-xedit my-xedit-text" id="addr1_eng"></span></td>
            </tr>
            <!-- <tr>
                <td>計畫號碼</td>
                <td><span class="my-xedit my-xedit-text" id="account_num"></span></td>
                <td>保單號碼</td>
                <td><span class="my-xedit my-xedit-text" id="policyxx_num"></span></td>
            </tr> -->
            <tr>
                <td>Agent</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="agent_id" data-obj="objAgents"></span>&nbsp;</td>
                <td>性別</td>
                <td><span class="my-xedit my-xedit-text" id="sexual_text"></span></td>
            </tr>
            <!-- <tr>
                <td>發卡銀行國家</td>
                <td><span class="my-xedit my-xedit-text" id="creditcard_bank_country"></span></td>
                <td>信用卡號碼</td>
                <td><span class="my-xedit my-xedit-text" id="creditcard_num"></span></td>
            </tr>
            <tr>
                <td>信用卡效期(月)</td>
                <td><span class="my-xedit my-xedit-text" id="creditcard_term_month"></span></td>
                <td>信用卡效期(年)</td>
                <td><span class="my-xedit my-xedit-text" id="creditcard_term_year"></span></td>
            </tr>
            <tr>
                <td>現時定額供款</td>
                <td><span class="my-xedit my-xedit-text" id="existing_defined_contribution"></span></td>
                <td>現時定額供款(W)</td>
                <td><span class="my-xedit my-xedit-text" id="existing_defined_contribution_words"></span></td>
            </tr>
            <tr>
                <td>保單幣別</td>
                <td><span class="my-xedit my-xedit-text" id="policy_currency"></span></td>
                <td>HSBC帳戶號碼</td>
                <td><span class="my-xedit my-xedit-text" id="hsbc_account_num"></span></td>
            </tr> -->
            <!--             <tr>
                <td>姓</td>
                <td><span class="my-xedit my-xedit-text" id="last_name"></span></td>
                <td>名</td>
                <td><span class="my-xedit my-xedit-text" id="first_name"></span></td>
            </tr> -->
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr class="info">
                <th colspan="4">公司 & 財務</th>
                <!-- <th>First Name</th>
                              <th>Last Name</th>
                              <th>Username</th> -->
            </tr>
        </thead>
        <colgroup>
            <col class="width-title bg-grey" />
            <col class="width-content" span="" />
            <col class="width-title bg-grey" span="" />
            <col class="width-content" />
        </colgroup>
        <tbody>
            <tr>
                <td>公司名稱(中)</td>
                <td><span class="my-xedit my-xedit-text" id="fin_com_name"></span></td>
                <td>投資經驗</td>
                <td><span class="my-xedit my-xedit-text" id="fin_invest_exp"></span></td>
            </tr>
            <tr>
                <td>公司名稱(英)</td>
                <td><span class="my-xedit my-xedit-text" id="fin_com_name_eng"></span></td>
                <td>投資目的</td>
                <td><span class="my-xedit my-xedit-text" id="fin_invest_purpose"></span></td>
            </tr>
            <tr>
                <td>行業別</td>
                <td><span class="my-xedit my-xedit-text" id="fin_com_type"></span></td>
                <td>備註</td>
                <td><span class="my-xedit my-xedit-text" id="fin_ps"></span></td>
            </tr>
            <tr>
                <td>職稱</td>
                <td><span class="my-xedit my-xedit-text" id="fin_title"></span></td>
                <td>是否寄送電子報&nbsp;</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="is_periodmail" data-obj="objYN"></span></td>
            </tr>
            <tr>
                <td>公司電話</td>
                <td><span class="my-xedit my-xedit-text" id="fin_com_tele"></span></td>
                <td rowspan="4">請勾選電子報表內容&nbsp;</td>
                <td rowspan="4">
                    <!-- 非電子報表 <br> -->
                    <!-- 電子報表 <span data-type="select" class="my-xedit my-xedit-sel" id="periodmail1" data-obj="objYN"></span><br> -->
                    投資月報表：<span data-type="select" class="my-xedit my-xedit-sel" id="periodmail2" data-obj="objYN"></span><br>
                    Hanbury View：<span data-type="select" class="my-xedit my-xedit-sel" id="periodmail3" data-obj="objYN"></span><br>
                    Hanbury Finanical：<span data-type="select" class="my-xedit my-xedit-sel" id="periodmail4" data-obj="objYN"></span><br>
                    VOYA年度繳費提醒：<span data-type="select" class="my-xedit my-xedit-sel" id="periodmail5" data-obj="objYN"></span><br>
                    FPI逾期款項提醒：<span data-type="select" class="my-xedit my-xedit-sel" id="periodmail6" data-obj="objYN"></span><br>
                    生日賀卡：<span data-type="select" class="my-xedit my-xedit-sel" id="periodmail7" data-obj="objYN"></span><br>
                    年節賀卡：<span data-type="select" class="my-xedit my-xedit-sel" id="periodmail8" data-obj="objYN"></span>
                    &nbsp;</td>
            </tr>
            <tr>
                <td>公司傳真</td>
                <td><span class="my-xedit my-xedit-text" id="fin_com_fax"></span></td>
                <!--   <td>&nbsp;</td>
                <td>&nbsp;</td> -->
            </tr>
            <tr>
                <td>公司地址(中)</td>
                <td><span class="my-xedit my-xedit-text" id="fin_com_addrcht"></span></td>
                <!-- <td>&nbsp;</td>
                <td>&nbsp;</td> -->
            </tr>
            <tr>
                <td>公司地址(英)</td>
                <td><span class="my-xedit my-xedit-text" id="fin_com_addreng"></span></td>
                <!--  <td>&nbsp;</td>
                <td>&nbsp;</td> -->
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr class="info">
                <th class="warning">附加檔案</th>
            </tr>
        </thead>
        <tbody class="on-editing">
            <tr>
                <td>
                    <!-- <input type="file" multiple="" name="myfile" class="myFileInput sm-form-control"> -->
                    <input id="input-3" name="input2[]" type="file" class="file file_bag file-loading" multiple
                        data-show-upload="false" data-show-caption="true" data-show-preview="true">
                    <BR>
                    <a href="#" class="upload button button-3d button-small button-rounded button-teal button-dark fright"><i
                            class="icon-external-link"></i>Upload</a>
                    {{#each files}}
                    <!-- <h4></h4> -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0"
                            aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                            {{file.original_name}} {{percent_uploaded}}%
                        </div>
                    </div>
                    {{/each}}
                </td>
            </tr>
        </tbody>
    </table>
    <div id="cFiles"></div>
    <BR>
    <BR>
</template>