<template name="clientslist">
    <style type="text/css">
        #content {
            overflow: visible;
        }

        .my-form {
            margin-bottom: 10px !important;
        }

        .my-name-href {
            background-color: beige;
            font-size: 18px;
        }

        .my-name-href a {
            margin-left: 5px;
        }

        .my-name-href a.my-active {
            text-decoration: underline !important;
        }
    </style>
    <h3>1-2 客戶投資內容</h3>

    <!-- <div class="col_three_fifth bottommargin-lg"> -->
    <div class="col_four_fifth nobottommargin">
        <form class="form-modal1">
            <div class="col_one_third my-form">
                <label for="template-contactform-phone">項目狀況</label>
            </div>
            <div class="col_two_third col_last my-form">
                <!--  <ul class="nav nav-pills">
                                    <li class=""><a href="#">新申請</a></li>
                                    <li><a href="#">申請中</a></li>
                                    <li><a href="#">已申請</a></li>
                                    <li><a href="#">無效</a></li>
                                </ul> -->
                <!-- Portfolio Filter
                    ============================================= -->
                <ul class="nav nav-pills" id='myTab'>
                    <li class="active"><a class="nowphase_btn" data-id="0" href="#">全部</a></li>
                    <li><a class="nowphase_btn" data-id="1" href="#">申請中</a></li>
                    <li><a class="nowphase_btn" data-id="2" href="#">已生效</a></li>
                    <li><a class="nowphase_btn" data-id="3" href="#">無效</a></li>
                    <li><a class="nowphase_btn" data-id="4" href="#">無產品</a></li>
                </ul>
                <!-- #portfolio-filter end -->
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="template-contactform-phone">Search</label>
            </div>
            <div class="col_two_third my-form col_last">
                <input type="text" id="search_text" name="" value="" class="sm-form-control"
                    oninput="Template.clientslist.loadPortfolio()"
                    onpropertychange="Template.clientslist.loadPortfolio()">
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="productl1">產品類別1</label>
            </div>
            <div class="col_two_third col_last my-form">
                <select id="eproduct1" name="product1_id" class="product sm-form-control">
                    <option value="">-- 全選 --</option>
                    {{#each Product1}}
                    <option value="{{_id}}">{{value}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="productl2">產品類別2</label>
            </div>
            <div class="col_two_third col_last my-form">
                <select id="eproduct2" name="product2_id" class="product sm-form-control">
                    <option value="">-- 無 --</option>
                </select>
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="productl3">產品類別3</label>
            </div>
            <div class="col_two_third col_last my-form">
                <select id="eproduct3" name="product3_id" class="product sm-form-control">
                    <option value="">-- 無 --</option>
                </select>
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="productl4">產品類別4</label>
            </div>
            <div class="col_two_third col_last my-form">
                <select id="eproduct4" name="product4_id" class="product sm-form-control">
                    <option value="">-- 無 --</option>
                </select>
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="provider">供應商</label>
            </div>
            <div class="col_two_third col_last my-form">
                <select id="eprovider" name="provider_id" class="sm-form-control product">
                    <option value="">-- 全選 --</option>
                    {{#each Provider}}
                    <option value="{{_id}}">{{name_cht}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="template-contactform-phone">Agent</label>
            </div>
            <div class="col_two_third col_last my-form">
                <select id="product" name="agent_id" class="sm-form-control product">
                    <option value="">-- 全選 --</option>
                    {{#each Agents}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="clear"></div>
            <div class="col_one_third my-form">
                <label for="template-contactform-phone">版型</label>
            </div>
            <div class="col_two_third col_last my-form">
                <select id="template_id" name="template_id" class="sm-form-control product">
                    <option value="">-- 全選 --</option>
                    {{#each PT}}
                    <option value="{{id}}">{{value}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="clear"></div>
        </form>
        <div class="clear"></div>
    </div>
    <!-- <div class="col_two_fifth bottommargin-lg col_last"> -->
    <div class="col_one_fifth nobottommargin col_last">
    </div>
    <div class="clear"></div>
    <div class="my-form fleft" style="width:100px">
        <label for="template-contactform-phone">客戶</label>
    </div>
    <div class="fleft" style="width: 760px">
        <div class="fleft my-form my-name-href " style="max-width:640px; padding-left: 5px;padding-right: 10px;">
            <a href="#" class="my-initial my-active">全部</a>
            <a href="#" class="my-initial">A</a>
            <a href="#" class="my-initial">B</a>
            <a href="#" class="my-initial">C</a>
            <a href="#" class="my-initial">D</a>
            <a href="#" class="my-initial">E</a>
            <a href="#" class="my-initial">F</a>
            <a href="#" class="my-initial">G</a>
            <a href="#" class="my-initial">H</a>
            <a href="#" class="my-initial">I</a>
            <a href="#" class="my-initial">J</a>
            <a href="#" class="my-initial">K</a>
            <a href="#" class="my-initial">L</a>
            <a href="#" class="my-initial">M</a>
            <a href="#" class="my-initial">N</a>
            <a href="#" class="my-initial">O</a>
            <a href="#" class="my-initial">P</a>
            <a href="#" class="my-initial">Q</a>
            <a href="#" class="my-initial">R</a>
            <a href="#" class="my-initial">S</a>
            <a href="#" class="my-initial">T</a>
            <a href="#" class="my-initial">U</a>
            <a href="#" class="my-initial">V</a>
            <a href="#" class="my-initial">W</a>
            <a href="#" class="my-initial">X</a>
            <a href="#" class="my-initial">Y</a>
            <a href="#" class="my-initial">Z</a>
        </div>
        <button type="submit" id="newclient-form-btn" name="" class="button button-small button-3d nomargin fright"
            value="submit"><i class="icon-plus"></i> 客戶</button>
    </div>
    <div class="clear"></div>
    <!-- <div class="fancy-title title-border topmargin"> -->
    <div class="fancy-title title-border ">
        <h4>搜尋結果</h4>
    </div>

    <div id="portfolio"></div>
    <BR>
    <BR>
</template>