<template name="dayoff">
    <style type="text/css">
        #content {
            overflow: visible;
        }

        .bootstrap-datetimepicker-widget {
            z-index: 1200 !important;
        }

        #e_dayoff .jsgrid-header-row>.jsgrid-header-cell {
            /*background: #428bca;*/
            background: #d9534f;
            border: 0;
            color: white;
        }

        #e_dayoff_records .jsgrid-header-row>.jsgrid-header-cell {
            background: #428bca;
            border: 0;
            color: white;
        }

        #e_leave_notice1 .jsgrid-header-row>.jsgrid-header-cell {
            background: #d9534f;
            border: 0;
            color: white;
        }

        #e_leave_notice2 .jsgrid-header-row>.jsgrid-header-cell {
            background: #5bc0de;
            border: 0;
            color: white;
        }

        #e_leave_notice3 .jsgrid-header-row>.jsgrid-header-cell {
            background: #428bca;
            border: 0;
            color: white;
        }

        #e_dayoff_set_4 .jsgrid-header-row>.jsgrid-header-cell {
            /*background: #5bc0de;*/
            background: #5cb85c;
            border: 0;
            color: white;
        }

        .btn .badge {
            background-color: #F44336;
        }

        .btn-primary .badge {
            color: #fff;
        }
    </style>
    <h3><span id="title"></span>4-4 差勤申請</h3>
    <button type="button" class="btn btn-primary btn-dayoff_1" style="display: none">請假申請</button>
    <button type="button" class="btn btn-primary btn-dayoff_3">預假通知 <span class="badge"></span></button>
    <BR>
    <BR>
    <div id="e_dayoff_set_4"></div>
    <br>
    <br>
    <div class="fancy-title title-border">
        <h4>4-4-1 個人特休/補休天數</h4>
    </div>
    <!-- <BR>
    <BR> -->
    <!-- <div id="datetimepicker_z"></div> -->
    <div id="Day_off_1">
        <!-- <table class="table" id="special_do_table"> -->
        <table class="table table-bordered" style="text-align: center">
            <thead>
                <!-- <tr class="info">
	                <th colspan="12" class="warning">個人特休/補休天數</th>
	            </tr> -->
                <tr class="info">
                    <th style="text-align: center">年度</th>
                    <th style="text-align: center">有效日期(起)</th>
                    <th style="text-align: center">有效日期(迄)</th>
                    <th style="text-align: center">可用特休</th>
                    <th style="text-align: center">已用特休</th>
                    <th style="text-align: center">剩餘特休</th>
                    <th style="text-align: center">本年度補休</th>
                </tr>
            </thead>
            <colgroup>
                <col class="width-title2 bg-grey" />
                <col class="bg-content" span="" />
                <col class="bg-content" span="" />
                <col class="bg-content" span="" />
                <col class="bg-content" span="" />
                <col class="bg-content" span="" />
                <col class="bg-content" span="" />
            </colgroup>
            <tbody id="arrSpecialDayoff">
                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <BR>
        <div class="fancy-title title-border">
            <h4>4-4-2 請假申請</h4>
            <button type="button" class="btn btn-danger btn-new_1 fright" style="margin-top: 3%">新申請</button>
        </div>
        <BR>
        <div id="e_dayoff" class="datetimepicker_z" style="overflow: initial;"></div>
        <BR>
        <BR>
        <BR>
        <div class="fancy-title title-border">
            <h4>4-4-3 可用假別一覽</h4>
            <div class="fright" style="margin-top: 3%">會計年度
                <select id="dayoff_sel" name="dayoff_sel" class="dayoff_sel sel_filter" style="width: 200px;">
                    {{#each acc_year}}
                    <option value="{{value}}">{{value}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <br>
        <table class="table table-bordered table-striped" style="text-align: center">
            <tbody>
                <tr class="info">
                    <td>狀態</td>
                    <td>公假</td>
                    <td>公傷病假</td>
                    <td>事假</td>
                    <td>病假</td>
                    <td>傷假</td>
                    <td>婚假</td>
                    <td>產假</td>
                    <td>生理假</td>
                    <td>陪產</td>
                    <!-- <td>特休假</td> -->
                    <td>育嬰假</td>
                    <td>補休假</td>
                </tr>
                <tr>
                    <td id="">可用</td>
                    <td id="dayoff_1_ok">0時</td>
                    <td id="dayoff_2_ok">0時</td>
                    <td id="dayoff_3_ok">0時</td>
                    <td id="dayoff_4_ok">0時</td>
                    <td id="dayoff_5_ok">0時</td>
                    <td id="dayoff_6_ok">0時</td>
                    <td id="dayoff_7_ok">0時</td>
                    <td id="dayoff_8_ok">0時</td>
                    <td id="dayoff_9_ok">0時</td>
                    <!-- <td id="dayoff_10_ok">0時</td> -->
                    <td id="dayoff_11_ok">0時</td>
                    <td id="dayoff_13">0時</td>
                </tr>
                <tr>
                    <td id="">已用</td>
                    <td id="dayoff_1">0時</td>
                    <td id="dayoff_2">0時</td>
                    <td id="dayoff_3">0時</td>
                    <td id="dayoff_4">0時</td>
                    <td id="dayoff_5">0時</td>
                    <td id="dayoff_6">0時</td>
                    <td id="dayoff_7">0時</td>
                    <td id="dayoff_8">0時</td>
                    <td id="dayoff_9">0時</td>
                    <!-- <td id="dayoff_10">0時</td> -->
                    <td id="dayoff_11">0時</td>
                    <td id="dayoff_12">0時</td>
                </tr>
                <tr>
                    <td id="">剩餘</td>
                    <td id="dayoff_1_sur">0時</td>
                    <td id="dayoff_2_sur">0時</td>
                    <td id="dayoff_3_sur">0時</td>
                    <td id="dayoff_4_sur">0時</td>
                    <td id="dayoff_5_sur">0時</td>
                    <td id="dayoff_6_sur">0時</td>
                    <td id="dayoff_7_sur">0時</td>
                    <td id="dayoff_8_sur">0時</td>
                    <td id="dayoff_9_sur">0時</td>
                    <!-- <td id="dayoff_10_sur">0時</td> -->
                    <td id="dayoff_11_sur">0時</td>
                    <td id="dayoff_12_sur">0時</td>
                </tr>
            </tbody>
        </table>
        註：一天8小時。
        <BR>
        <BR>
        <BR>
        <div class="fancy-title title-border">
            <h4>4-4-4 歷年請假紀錄</h4>
            <div class="fright" style="margin-top: 3%">會計年度
                <select id="type_id" name="type_id" class="type_id" style="width: 200px;">
                    <option value="-1">所有年度</option>
                    {{#each acc_year}}
                    <option value="{{value}}">{{value}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <BR>
        <div id="e_dayoff_records"></div>
        註：一天8小時。
        <BR>
    </div>
    <div id="Day_off_3" style="display: none;">
        <h4>代理人審核回覆</h4>
        <div id="e_leave_notice1"></div>
        <BR>
        <BR>
        <h4>主管審核回覆</h4>
        <div id="e_leave_notice2"></div>
        <BR>
        <BR>
        <h4>人資審核回覆</h4>
        <div id="e_leave_notice3"></div>
        <BR>
        <BR>
    </div>
    <br>
    <br>
    <a href="/hrform" style="font-weight: bolder; font-size: 18px">
        <button class="btn btn-primary ">人事規章</button>
    </a>
</template>