<template name="employee">
    <style type="text/css">
        #content {
            overflow: visible;
        }

        .bg-grey {
            background-color: #eeeeee;
        }

        .width-title {
            width: 15%;
        }

        .width-content {
            width: 35%;
        }

        table {
            margin-bottom: 0px !important;
        }

        .editable-click {
            cursor: pointer;
        }

        .on-editing {
            display: none;
        }

        #myModalFile .modal-dialog,
        #myModalFile .modal-content {
            height: 95%
        }

        #myModalFile .modal-body {
            height: 85%;
            overflow-y: scroll;
        }
    </style>
    <div class="modal fade" id="myModalFile" tabindex="-1" role="dialog" aria-labelledby="myModalFileLabel">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">檔案預覽 <span id="modal2-link"></span></h4>
                </div>
                <div class="modal-body">
                    <iframe id="file_iframe" src="" width="100%" height="100%"></iframe>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-mycancel btn btn-default" data-dismiss="modal">關閉</button>
                    <!-- <button type="button" data-dismiss="modal" class="btn-print btn btn-warning">列印</button> -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    {{#if isInRole 'auth_hr-edit'}}
    <div class="" style="text-align: right;">
        <button style="margin-top:-7px;" type="button" id="del-form-btn" name="quick-contact-form-submit"
            class="button button-small button-3d fright button-pink" value="button">
            <i class="icon-trash2"></i> 刪除本筆</button>
        <button style="margin-top:-7px;" type="button" id="unedit-form-btn" name="quick-contact-form-submit"
            class="button button-small button-3d fright button-purple" value="button">
            <i class="icon-lock3"></i> 關閉編輯</button>
        <button style="margin-top:-7px;" type="button" id="edit-form-btn" name="quick-contact-form-submit"
            class="button button-small button-3d fright button-amber" value="button">
            <i class="icon-unlock"></i> 開啟編輯</button>
    </div>
    {{/if}}
    <div class="clear"></div>
    <BR>
    <div class="fancy-title title-border">
        <h3>4-3 員工資料</h3>
        {{#if isInRole 'auth_hr-edit'}}
        <div style="width: 220px;margin-top: 23px;margin-bottom:5px;" class="fright">
            <select id="sel-employee" name="employee" class="fleft sm-form-control"
                style="width: 200px;margin-top: 3px;">
                <option value="">-- 選擇員工 --</option>
                {{#each employee}}
                <option value="{{_id}}">{{profile.engname}} {{profile.worknumber}}</option>
                {{/each}}
            </select>
        </div>
        {{/if}}
    </div>
    <table class="table">
        <thead>
            <tr class="warning">
                <th colspan="4">基本資料</th>
            </tr>
        </thead>
        <colgroup>
            <col class="width-title bg-grey" />
            <col class="width-content" span="" />
            <col class="width-title bg-grey" span="" />
            <col class="width-content" />
        </colgroup>
        <tbody>
            <tr>
                <td>中文姓名</td>
                <td><span class="my-xedit my-xedit-text" id="chtname"></span></td>
                <td>工號</td>
                <td><span class="my-xedit my-xedit-text" id="worknumber"></span></td>
            </tr>
            <tr>
                <td>英文姓名</td>
                <td><span class="my-xedit my-xedit-text" id="engname"></span></td>
                <td>身分證字號</td>
                <td><span class="my-xedit my-xedit-text" id="tw_id"></span></td>
            </tr>
            <tr>
                <td>護照姓名</td>
                <td><span class="my-xedit my-xedit-text" id="passport_name"></span></td>
                <td>生日</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="birthday_date"></span></td>
                <td></td>
            </tr>
            <tr>
                <td>就職日期</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="onbroad_date"></span></td>
                <td>離職日期</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="leave_date"></span></td>
            </tr>
            <tr>
                <td>年資</td>
                <td><span class="" id="jobyear"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>職稱</td>
                <td><span class="my-xedit my-xedit-text" id="jobtitle"></span></td>
                <td>職等</td>
                <td><span class="my-xedit my-xedit-text" id="jobline"></span></td>
            </tr>
            <tr>
                <td>E-Mail (唯讀)</td>
                <td>{{emails.[0].address}}</td>
                <td>E-Mail 2</td>
                <td><span class="my-xedit my-xedit-text" id="email2"></span></td>
            </tr>
            <tr>
                <td>連絡電話</td>
                <td><span class="my-xedit my-xedit-text" id="cellphone"></span></td>
                <td>備註</td>
                <td><span class="my-xedit my-xedit-text" id="employee_ps"></span></td>
            </tr>
            <tr>
                <td>AAN<BR>(Agent Agreement No.)</td>
                <td><span class="my-xedit my-xedit-text" id="aan"></span></td>
                <td>隸屬事業群&nbsp;</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="department_id"
                        data-obj="Businessgroup"></span>&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr class="info">
                <th class="warning">證件檔案 (上傳護照、身分證檔案)</th>
            </tr>
        </thead>
    </table>
    <div class="upload_show">
        <br>
        <input id="input1" data-id="1" name="input1" type="file" class="file file_bag file-loading" multiple
            data-show-upload="false" data-show-caption="true" data-show-preview="true">
        <BR>
        <a href="#" data-id="1" class="upload btn btn-success fright"><i class="icon-external-link"></i>Upload</a>
        <br>
        {{#each files1}}
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0"
                aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                {{file.original_name}} {{percent_uploaded}}%
            </div>
        </div>
        {{/each}}
    </div>
    <div id="cFiles1"></div>
    <table class="table">
        <thead>
            <tr class="info">
                <th class="warning">薪資明細</th>
            </tr>
        </thead>
    </table>
    <div class="upload_show">
        <br>
        <input id="input2" data-id="2" name="input2" type="file" class="file file_bag file-loading" multiple
            data-show-upload="false" data-show-caption="true" data-show-preview="true">
        <BR>
        <a href="#" data-id="2" class="upload btn btn-success fright"><i class="icon-external-link"></i>Upload</a>
        <br>
        {{#each files2}}
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0"
                aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                {{file.original_name}} {{percent_uploaded}}%
            </div>
        </div>
        {{/each}}
    </div>
    <div id="cFiles2"></div>
    <table class="table">
        <thead>
            <tr class="info">
                <th class="warning">佣金明細</th>
            </tr>
        </thead>
    </table>
    <div class="upload_show">
        <br>
        <input id="input3" data-id="3" name="input3" type="file" class="file file_bag file-loading" multiple
            data-show-upload="false" data-show-caption="true" data-show-preview="true">
        <BR>
        <a href="#" data-id="3" class="upload btn btn-success fright"><i class="icon-external-link"></i>Upload</a>
        <br>
        {{#each files3}}
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0"
                aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                {{file.original_name}} {{percent_uploaded}}%
            </div>
        </div>
        {{/each}}
    </div>
    <div id="cFiles3"></div>
    <!-- <table class="table">
        <thead>
            <tr class="info">
                <th class="warning">表單專區</th>
            </tr>
        </thead>
    </table>
    <div id="cFiles4"></div> -->
    <BR><BR>
</template>