<template name="fin_commission">
  <style type="text/css">
    #content {
      overflow: visible;
    }

    .panel-default>.panel-heading {
      background: #ffffff;
    }

    .total-row {
      font-weight: bold;
      background: #f5f5f5;
    }

    .total-row td {
      border-top: 2px solid #efefef;
    }

    #e_commission_1 .jsgrid-header-row>.jsgrid-header-cell {
      background: #d9534f;
      border: 0;
      color: white;
    }

    #e_commission_2 .jsgrid-header-row>.jsgrid-header-cell {
      background: #d9534f;
      border: 0;
      color: white;
    }

    #e_commission_3 .jsgrid-header-row>.jsgrid-header-cell {
      background: #5cb85c;
      border: 0;
      color: white;
    }

    #e_commission_4 .jsgrid-header-row>.jsgrid-header-cell {
      background: #5cb85c;
      border: 0;
      color: white;
    }

    #e_commission_5 .jsgrid-header-row>.jsgrid-header-cell {
      background: #269ccc;
      border: 0;
      color: white;
    }

    #e_commission_6 .jsgrid-header-row>.jsgrid-header-cell {
      background: #269ccc;
      border: 0;
      color: white;
    }

    #e_commission_7 .jsgrid-header-row>.jsgrid-header-cell {
      background: #d9534f;
      border: 0;
      color: white;
    }

    #e_commission_8 .jsgrid-header-row>.jsgrid-header-cell {
      background: #d9534f;
      border: 0;
      color: white;
    }

    #e_commission_9 .jsgrid-header-row>.jsgrid-header-cell {
      background: #5cb85c;
      border: 0;
      color: white;
    }

    #e_commission_10 .jsgrid-header-row>.jsgrid-header-cell {
      background: #5cb85c;
      border: 0;
      color: white;
    }

    #e_commission_11 .jsgrid-header-row>.jsgrid-header-cell {
      background: #269ccc;
      border: 0;
      color: white;
    }

    #e_commission_12 .jsgrid-header-row>.jsgrid-header-cell {
      background: #269ccc;
      border: 0;
      color: white;
    }

    #e_commission_13 .jsgrid-header-row>.jsgrid-header-cell {
      background: #d9534f;
      border: 0;
      color: white;
    }

    #e_commission_14 .jsgrid-header-row>.jsgrid-header-cell {
      background: #d9534f;
      border: 0;
      color: white;
    }

    #e_commission_15 .jsgrid-header-row>.jsgrid-header-cell {
      background: #5cb85c;
      border: 0;
      color: white;
    }

    #e_commission_16 .jsgrid-header-row>.jsgrid-header-cell {
      background: #5cb85c;
      border: 0;
      color: white;
    }

    #e_commission_17 .jsgrid-header-row>.jsgrid-header-cell {
      background: #269ccc;
      border: 0;
      color: white;
    }

    #e_commission_18 .jsgrid-header-row>.jsgrid-header-cell {
      background: #269ccc;
      border: 0;
      color: white;
    }

    #e_commission_19 .jsgrid-header-row>.jsgrid-header-cell {
      background: #d9534f;
      border: 0;
      color: white;
    }

    #e_commission_20 .jsgrid-header-row>.jsgrid-header-cell {
      background: #d9534f;
      border: 0;
      color: white;
    }

    #e_commission_21 .jsgrid-header-row>.jsgrid-header-cell {
      background: #5cb85c;
      border: 0;
      color: white;
    }

    #e_commission_22 .jsgrid-header-row>.jsgrid-header-cell {
      background: #5cb85c;
      border: 0;
      color: white;
    }

    #e_commission_23 .jsgrid-header-row>.jsgrid-header-cell {
      background: #269ccc;
      border: 0;
      color: white;
    }

    #e_commission_24 .jsgrid-header-row>.jsgrid-header-cell {
      background: #269ccc;
      border: 0;
      color: white;
    }

    #headingOne {
      background: #fffb81;
      border: 0;
    }

    #headingTwo {
      background: #fffb81;
      border: 0;
    }

    #headingThree {
      background: #fffb81;
      border: 0;
    }

    #headingFour {
      background: #fffb81;
      border: 0;
    }
  </style>
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 30%;">
      <div class="modal-content">
        <form class="form-modal1">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">選擇員工</h4>
          </div>
          <div class="modal-body" style="margin: 15px;">
            <div class="col_one_third nobottommargin">
              <label></label>
            </div>
            <div class="col_one_third nobottommargin">
              <input type="checkbox" class="check" id="checkAll"> 全選
              <BR> {{#each get_user}}
              <input class="check" type="checkbox" name="name" value="{{_id}}"> {{chtname}}
              <BR> {{/each}}
              <input type="hidden" name="month_id" id="month_id">
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            <button type="button" class="btn-m1-new btn btn-primary" data-dismiss="modal">新增</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 70%;">
      <div class="modal-content">
        <form class="form-modal2">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">佣金上傳</h4>
          </div>
          <div class="modal-body" style="margin: 15px;">
          </div>
          <div class="col-md-1 nobottommargin col-md-offset-2">
            <label for="blank_doc">檔案上傳</label>
          </div>
          <div class="col_three_fifth col_last nobottommargin">
            <input id="input-3" name="" type="file" class="file file_bag file-loading" data-show-upload="false"
              data-show-caption="true" data-show-preview="true">
            <BR>
            <a href="#" class="upload1 btn btn-success fright">
              <i class="icon-external-link"></i>Upload</a>
            <br>
            <br> {{#each files}}
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0"
                aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                {{file.original_name}} {{percent_uploaded}}%
              </div>
            </div>
            {{/each}}
          </div>
          <div class="clear"></div>
          <div class="modal-footer">
            <input type="hidden" name="data_id" id="data_id">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <h3>
    <span id="title"></span> 5-1-1-8 佣金管理</h3>
  <div class="fancy-title title-border">
    <h4>佣金一覽表</h4>
  </div>
  <h4 class="panel-title">年度</h4>

  <div id="e_commission_0"></div>

  <h4 class="panel-title">每月</h4>

  <div id="e_commission_0a"></div>
  <br />
  <br />
  <br />
  <div class="fancy-title title-border">
    <h4>佣金支出</h4>
  </div>
  <div class="row">
    <div class="col-lg-3">會計年度
      <select id="year_id" name="year_id" class="year_id sel_filter sm-form-control" style="width: 200px;">
        {{#each acc_year}}
        <option value="{{value}}">{{value}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div id="e_commission_0b"></div>

  <br />
  <br />
  <br />
  <div class="fancy-title title-border">
    <h4>發放佣金總額</h4>
  </div>
  <div class="row">
    <div class="col-lg-3">會計年度
      <select id="year_id" name="year_id" class="year_id sel_filter sm-form-control" style="width: 200px;">
        {{#each acc_year}}
        <option value="{{value}}">{{value}}</option>
        {{/each}}
      </select>
    </div>
    <h4 class="fright" style="margin-right: 3%">Total Amount :
      <span id="num_full_year_total"></span>
    </h4>
  </div>
  <br>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#" href="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        <h4 class="panel-title">
          第一季
          <div class="fright">Total Amount :
            <span id="num_season_1_total"></span>
          </div>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <li
          style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%; margin-top: 1%; margin-bottom: -1%">
          <span style="margin-left: -2%">January-1</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary ' data-toggle="modal" data-target="#myModal1" data-id="1"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_1">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <br>
        <div id="e_commission_1"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">January-2</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="2"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_2">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_2"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">February-1</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="3"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_3">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_3"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">February-2</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="4"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_4">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_4"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">March-1</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="5"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_5">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_5"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">March-2</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="6"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_6">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_6"></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#" href="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        <h4 class="panel-title">
          第二季
          <div class="fright">Total Amount :
            <span id="num_season_2_total"></span>
          </div>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <li
          style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%; margin-top: 1%; margin-bottom: -1%">
          <span style="margin-left: -2%">April-1</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="7"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_7">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_7"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">April-2</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="8"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_8">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_8"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">May-1</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="9"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_9">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_9"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">May-2</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="10"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_10">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_10"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">June-1</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="11"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_11">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_11"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">June-2</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="12"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_12">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_12"></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" data-parent="#"
        href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <h4 class="panel-title">
          第三季
          <div class="fright">Total Amount :
            <span id="num_season_3_total"></span>
          </div>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <li
          style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%; margin-top: 1%; margin-bottom: -1%">
          <span style="margin-left: -2%">July-1</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="13"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_13">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_13"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">July-2</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="14"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_14">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_14"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">August-1</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="15"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_15">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_15"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">August-2</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="16"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_16">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_16"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">September-1</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="17"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_17">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_17"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">September-2</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="18"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_18">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_18"></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour" data-toggle="collapse" data-parent="#" href="#collapseFour"
        aria-expanded="false" aria-controls="collapseFour">
        <h4 class="panel-title">
          第四季
          <div class="fright">Total Amount :
            <span id="num_season_4_total"></span>
          </div>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <li
          style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%; margin-top: 1%; margin-bottom: -1%">
          <span style="margin-left: -2%">October-1</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="19"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_19">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_19"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">October-2</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="20"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_20">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_20"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">November-1</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="21"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_21">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_21"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">November-2</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="22"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_22">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_22"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">December-1</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="23"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_23">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_23"></div>
        <br>
        <li style="font-size: 15px; font-weight: bolder; margin-left: 2%; margin-right: 2%">
          <span style="margin-left: -2%">December-2</span>
          <div class="row fright">
            <button class='btn btn-sm btn-primary' data-toggle="modal" data-target="#myModal1" data-id="24"
              style="margin-bottom: 1%">
              + 員工</button>&nbsp;
            <a id="csv_commission_24">
              <button class="fright btn btn-sm btn-default">下載</button>
            </a>
          </div>
        </li>
        <div id="e_commission_24"></div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <a href="/accountyear/{{_id}}">
    <button type="button" class="btn btn-primary">新增會計年份</button>
  </a>
</template>
<!-- <template name="fin_commission_month">
    {{#each get_month_member}}
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-3">
            <a href="#" class="del-commission glyphicon glyphicon-remove" data-sid="{{_id}}" data-rurl="{{file_rurl}}" data-uid="{{upload_id}}"></a>
            <a href="/employee/{{user_id}}" target="_blank">{{chtname}}</a>
        </div>
        <div class="col-sm-6">
            {{#if file_url}}
            <a href="#" data-toggle="modal" data-target="#myModalFile" data-url="{{file_url}}"> [檢視]</a>
            <a href="#" class="del-file" data-uid="{{upload_id}}" data-sid="{{_id}}" data-rurl="{{file_rurl}}"> [刪除]</a>
            {{else}}
            <a class="myFileInput b-upload" data-sid="{{_id}}" data-fid="2" data-eid="{{user_id}}" data-year="{{year}}" data-month="{{month}}">[上傳]
                <input type="file" name="myfile">
            </a>
            {{/if}}
        </div>
    </div>
    {{/each}}
</template>
<template name="fin_commission">
    <style type="text/css">
    .bg-grey {
        background-color: #eeeeee;
    }

    .width-title {
        width: 15%;
    }

    .width-content {
        width: 35%;
    }

    table {
        margin-bottom: 0px !important;
    }

    .editable-click {
        cursor: pointer;
    }

    .on-editing {
        display: none;
    }

    th {
        background-color: #cc0000;
        color: #fff;
        font-size: 22px;
        padding-left: 5px;
    }

    .toggle.toggle-bg .togglet {
        background-color: #f58a8a
    }

    #myModalFile .modal-dialog,
    #myModalFile .modal-content {
        height: 95%
    }

    #myModalFile .modal-body {
        height: 85%;
        overflow-y: scroll;
    }

    .b-upload {
        /*padding: 4px 10px;*/
        /*height: 20px;*/
        line-height: 20px;
        position: relative;
        cursor: pointer;
        /*color: #888;*/
        /*background: #fafafa;*/
        /*border: 1px solid #ddd;*/
        /*border-radius: 4px;*/
        overflow: hidden;
        display: inline-block;
        /**display: inline;
        *zoom: 1*/
    }

    .b-upload input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer
    }
    </style>
    <h3><span id="title"></span> 佣金管理</h3>
    <div class="modal fade" id="myModalFile" tabindex="-1" role="dialog" aria-labelledby="myModalFileLabel">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">檔案預覽 <span id="modal2-link"></span></h4>
                </div>
                <div class="modal-body">
                    <iframe id="file_iframe" src="" width="100%" height="100%"></iframe>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-mycancel btn btn-default" data-dismiss="modal">關閉</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <form class="form-modal2">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">選擇員工</h4>
                    </div>
                    <div class="modal-body" style="margin: 15px;">
                        <div class="col_one_fifth nobottommargin">
                            <label></label>
                        </div>
                        <div class="col_four_fifth col_last nobottommargin">
                            <input type="checkbox" class="check" id="checkAll"> 全選
                            <BR> {{#each get_user}}
                            <input class="check" type="checkbox" name="name" value="{{_id}}"> {{chtname}} {{engname}}
                            <BR> {{/each}}
                            <input type="hidden" id="m2-bg_id" name="bg_id">
                            <input type="hidden" id="m2-year" name="year">
                            <input type="hidden" id="m2-month" name="month">
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button type="button" class="btn-m2-new btn btn-primary" data-dismiss="modal">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalFile" tabindex="-1" role="dialog" aria-labelledby="myModalFileLabel">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">檔案檢視 <span id="modal2-link"></span></h4>
                </div>
                <div class="modal-body">
                    <iframe id="file_iframe" src="" width="100%" height="100%"></iframe>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-mycancel btn btn-default" data-dismiss="modal">關閉</button>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

    {{#each files}}
    <h4></h4>
    <div class="row" id="progress_bar">
        <div class="col-md-4">
            {{file.original_name}}
        </div>
        <div class="col-md-8">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                    {{percent_uploaded}}%
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <table class="table">
        <thead>
            <tr class="">
                <th><span id="title"></span> 佣金管理</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: #f6ccc9">
                    <div class="accordion clearfix">
                        {{#each acc_year}}
                        <div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>{{value}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total Amount:<span id="ctayear{{_id}}"></span></div>
                        <div class="acc_content clearfix">
                            <div class="toggle toggle-bg">
                                <div class="togglet"><i class="toggle-closed icon-ok-circle"></i><i class="toggle-open icon-remove-circle"></i>第一季&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total Amount:<span id="cta1-{{_id}}"></span></div>
                                <div class="togglec">
                                    <div class="row">
                                        <div class="col-sm-6">January-1</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission1" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="1" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3 "><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="1" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">January-2</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission2" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="2" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3 "><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="2" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">February-1</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission3" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="3" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="3" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">February-2</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission4" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="4" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="4" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">March-1</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission5" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="5" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="5" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">March-2</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission6" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="6" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="6" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="toggle toggle-bg">
                                <div class="togglet"><i class="toggle-closed icon-ok-circle"></i><i class="toggle-open icon-remove-circle"></i>第二季&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total Amount:<span id="cta2-{{_id}}"></span></div>
                                <div class="togglec">
                                    <div class="row">
                                        <div class="col-sm-6">April-1</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission7" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="7" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="7" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">April-2</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission8" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="8" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="8" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">May-1</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission9" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="9" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="9" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">May-2</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission10" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="10" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="10" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">June-1</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission11" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="11" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="11" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">June-2</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission12" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="12" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="12" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="toggle toggle-bg">
                                <div class="togglet"><i class="toggle-closed icon-ok-circle"></i><i class="toggle-open icon-remove-circle"></i>第三季&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total Amount:<span id="cta3-{{_id}}"></span></div>
                                <div class="togglec">
                                    <div class="row">
                                        <div class="col-sm-6">July-1</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission13" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="13" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="13" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">July-2</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission14" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="14" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="14" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">August-1</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission15" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="15" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="15" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">August-2</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission16" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="16" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="16" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">September-1</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission17" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="17" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="17" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">September-2</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission18" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="18" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="18" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                            <div class="toggle toggle-bg">
                                <div class="togglet"><i class="toggle-closed icon-ok-circle"></i><i class="toggle-open icon-remove-circle"></i>第四季&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total Amount:<span id="cta4-{{_id}}"></span></div>
                                <div class="togglec">
                                    <div class="row">
                                        <div class="col-sm-6">October-1</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission19" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="19" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="19" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">October-2</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission20" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="20" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="20" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">November-1</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission21" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="21" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="21" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">November-2</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission22" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="22" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="22" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">December-1</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission23" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="23" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="23" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">December-2</div>
                                        <div class="col-sm-3">Total Amount: <span class="my-xedit my-xedit-text" data-field="commission24" data-ayid="{{_id}}"></span></div>
                                    </div>
                                    {{> fin_commission_month year=value month="24" }}
                                    <div class="row">
                                        <div class="col-sm-1">&nbsp;</div>
                                        <div class="col-sm-3"><a data-bg="{{get_bg}}" data-year="{{value}}" data-month="24" class="btn btn-link" data-toggle="modal" data-target="#myModal2">[+員工]</a>&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </td>
            </tr>
            <BR>
            <BR>
            <a href="/accountyear/{{_id}}">
                <button type="button" class="btn btn-primary">新增會計年份</button>
            </a>
        </tbody>
    </table>
    <BR>
    <BR>
    <div style="display: none;" id="cFiles"></div>
</template> -->