<template name="fin_receivable">
  <h3>
    <span id="title"></span>5-1-1-4 應收帳款明細表</h3>

  <div class="row">
    <div class="col-lg-3">會計年度
      <select id="year_id" name="year_id" class="year_id sel_filter sm-form-control" style="width: 200px;">
        {{#each acc_year}}
        <option value="{{value}}">{{value}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-lg-3">月份
      <select id="month_id" name="month_id" class="month_id sel_filter sm-form-control " style="width: 200px;">
        <option value="1">一月</option>
        <option value="2">二月</option>
        <option value="3">三月</option>
        <option value="4">四月</option>
        <option value="5">五月</option>
        <option value="6">六月</option>
        <option value="7">七月</option>
        <option value="8">八月</option>
        <option value="9">九月</option>
        <option value="10">十月</option>
        <option value="11">十一月</option>
        <option value="12">十二月</option>
      </select>
    </div>
  </div>
  <BR>
  <BR>
  <BR>
  <div id="e_receivable"></div>
  <BR>
</template>