<template name="fin_sales">
  <style type="text/css">
    #content {
      overflow: visible;
    }

    .total-row {
      font-weight: bold;
      background: #f5f5f5;
    }

    .total-row td {
      border-top: 2px solid #efefef;
    }

    #cFiles_level .jsgrid-header-row>.jsgrid-header-cell {
      background: #d9534f;
      border: 0;
      color: white;
    }

    #cFirst_Half_Year .jsgrid-header-row>.jsgrid-header-cell {
      background: #5cb85c;
      border: 0;
      color: white;
    }

    #cSecond_Half_Year .jsgrid-header-row>.jsgrid-header-cell {
      background: #5cb85c;
      border: 0;
      color: white;
    }

    #cFull_Year .jsgrid-header-row>.jsgrid-header-cell {
      background: #5cb85c;
      border: 0;
      color: white;
    }

    #cFiles2 .jsgrid-header-row>.jsgrid-header-cell {
      background: #428bca;
      border: 0;
      color: white;
    }

    #cFiles3 .jsgrid-header-row>.jsgrid-header-cell {
      background: #428bca;
      border: 0;
      color: white;
    }

    #cFiles4 .jsgrid-header-row>.jsgrid-header-cell {
      background: #428bca;
      border: 0;
      color: white;
    }

    #cFiles2 th:nth-child(3n-1).jsgrid-header-cell.jsgrid-align-center {
      background: #FF9800;
    }

    #cFiles2 th:nth-child(2).jsgrid-header-cell.jsgrid-align-center {
      background: #428bca;
    }

    #cFiles3 th:nth-child(3n-1).jsgrid-header-cell.jsgrid-align-center {
      background: #FF9800;
    }

    #cFiles3 th:nth-child(2).jsgrid-header-cell.jsgrid-align-center {
      background: #428bca;
    }

    #cFiles4 th:nth-child(3n-1).jsgrid-header-cell.jsgrid-align-center {
      background: #FF9800;
    }

    #cFiles4 th:nth-child(2).jsgrid-header-cell.jsgrid-align-center {
      background: #428bca;
    }
  </style>
  <h3>5-2 業績績效考核</h3>
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 30%;">
      <div class="modal-content">
        <form class="form-modal1">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">選擇員工</h4>
          </div>
          <div class="modal-body" style="margin: 15px;">
            <div class="col_one_third nobottommargin">
              <label></label>
            </div>
            <div class="col_one_third nobottommargin">
              <input type="checkbox" class="check" id="checkAll"> 全選
              <BR> {{#each get_user}}
              <input class="check" type="checkbox" name="name" value="{{_id}}"> {{chtname}}
              <BR> {{/each}}
              <!-- <input type="hidden" id="bg_id" name="bg_id"> -->
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            <button type="button" class="btn-m1-new btn btn-primary" data-dismiss="modal">新增</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 30%;">
      <div class="modal-content">
        <form class="form-modal2">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">選擇員工</h4>
          </div>
          <div class="modal-body" style="margin: 15px;">
            <div class="col_one_third nobottommargin">
              <label></label>
            </div>
            <div class="col_one_third nobottommargin">
              <input type="checkbox" class="check" id="checkAll2"> 全選
              <BR> {{#each get_user}}
              <input class="check" type="checkbox" name="name" value="{{_id}}"> {{chtname}}
              <BR> {{/each}}
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            <button type="button" class="btn-m2-new btn btn-primary" data-dismiss="modal">新增</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 550px;">
      <div class="modal-content">
        <form class="form-modal1">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">新增年度</h4>
          </div>
          <div class="modal-body" style="padding: 10px;">
            <div class="row">
              <div class="col-lg-8">
                <input name="sales_year" id="sales_year" class="form-control" placeholder="請輸入年度">
              </div>
              <button type="submit" class="my-btn-submit1 btn btn-primary">新增</button>
            </div>
            <br>
            <div class="clear"></div>
            <div id="e_sales_year"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-mycancel btn btn-default" data-dismiss="modal">關閉</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">會計年度
      <select id="year_id" name="year_id" class="year_id sel_filter sm-form-control" style="width: 200px;">
        {{#each acc_year}}
        <option value="{{value}}">{{value}}</option>
        {{/each}}
      </select>
    </div>
    <!-- <div class="col-lg-3">月份
      <select id="month_id" name="month_id" class="month_id sel_filter sm-form-control " style="width: 200px;">
        <option value="1">一月</option>
        <option value="2">二月</option>
        <option value="3">三月</option>
        <option value="4">四月</option>
        <option value="5">五月</option>
        <option value="6">六月</option>
        <option value="7">七月</option>
        <option value="8">八月</option>
        <option value="9">九月</option>
        <option value="10">十月</option>
        <option value="11">十一月</option>
        <option value="12">十二月</option>
      </select>
    </div> -->
  </div>
  <br>
  <br>
  <br>
  <br>
  <div id="e_target"></div>


  <div class="fancy-title title-border">
    <h4>5-2-1 佣金等級</h4>
    <button class="btn btn-danger btn-new-sales fright" style="margin-top: 3%">新增</button>
  </div>
  <BR>
  <div id="cFiles_level"></div>
  <br>
  <br>
  <br>
  <div class="fancy-title title-border">
    <h4>5-2-2 實收佣金</h4>
    <button class='btn btn-primary fright' data-toggle="modal" data-target="#myModal1" style="margin-top: 3%"> +
      員工</button>
    <div class="fright" style="margin-top: 3.5%; margin-right: 1%">選擇年度
      <select id="sel_sales_year_1" name="sel_sales_year_1" style="width: 200px;" class="sel_sales_year_1 sel_filter">
        {{#each get_sales_year}}
        <option value="{{_id}}">{{sales_year}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <BR>
  <h5>
    <span class="year2"></span>上半年</h5>
  <a href="#" id="csv_comm_1">
    <button class="fright btn btn-default" style="margin-top: -5%">下載</button>
  </a>
  <div id="cFirst_Half_Year"></div>
  <br>
  <br>
  <h5>
    <span class="year2"></span>下半年</h5>
  <a href="#" id="csv_comm_2">
    <button class="fright btn btn-default" style="margin-top: -5%">下載</button>
  </a>
  <div id="cSecond_Half_Year"></div>
  <br>
  <br>
  <h5>
    <span class="year2"></span>全年度</h5>
  <a href="#" id="csv_comm_3">
    <button class="fright btn btn-default" style="margin-top: -5%">下載</button>
  </a>
  <div id="cFull_Year"></div>
  <br>
  <br>
  <div class="fancy-title title-border">
    <h4>5-2-3 業績目標</h4>
    <button class='btn btn-primary fright' data-toggle="modal" data-target="#myModal2" style="margin-top: 3%"> +
      員工</button>
    <div class="fright" style="margin-top: 3.5%; margin-right: 1%">選擇年度
      <select id="sel_sales_year" name="sel_sales_year" style="width: 200px;" class="sel_sales_year sel_filter">
        {{#each get_sales_year}}
        <option value="{{_id}}">{{sales_year}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <br>
  <h5>
    <span class="year1"></span>上半年</h5>
  <a href="#" id="csv_sales_1">
    <button class="fright btn btn-default" style="margin-top: -5%">下載</button>
  </a>
  <div id="cFiles2"></div>
  <br>
  <br>
  <h5>
    <span class="year1"></span>下半年</h5>
  <a href="#" id="csv_sales_2">
    <button class="fright btn btn-default" style="margin-top: -5%">下載</button>
  </a>
  <div id="cFiles3"></div>
  <br>
  <br>
  <h5>
    <span class="year1"></span>全年度</h5>
  <a href="#" id="csv_sales_3">
    <button class="fright btn btn-default" style="margin-top: -5%">下載</button>
  </a>
  <div id="cFiles4"></div>
  <BR>
  <BR>
  <button class='fright btn btn-primary btn-new-sales-year' data-toggle="modal" data-target="#myModal3">新增年度</button>
</template>