<template name="fin_arch">
  <style type="text/css">
    #content {
      overflow: visible;
    }

    .bg-grey {
      background-color: #eeeeee;
    }

    .width-title {
      width: 15%;
    }

    .width-content {
      width: 35%;
    }

    table {
      margin-bottom: 0px !important;
    }

    .editable-click {
      cursor: pointer;
    }

    .on-editing {
      display: none;
    }

    th {
      background-color: #cc0000;
      color: #fff;
      font-size: 22px;
      padding-left: 5px;
    }

    .toggle.toggle-bg .togglet {
      background-color: #f58a8a
    }
  </style>
  <table class="table">
    <thead>
      <tr class="">
        <th>
          <span id="title"></span> 5-1-0-1 財務帳本</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="background-color: #f6ccc9">
          <div class="accordion clearfix">
            {{#each acc_year}}
            <div id="acc_year-{{value}}" class="acctitle">
              <i class="acc-closed icon-ok-circle"></i>
              <i
                class="acc-open icon-remove-circle"></i>{{value}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total
              Amount: $
              <span id="year_total{{_id}}"></span>
            </div>
            <div class="acc_content clearfix">
              <div class="toggle toggle-bg">
                <div class="togglet">
                  <i class="toggle-closed icon-ok-circle"></i>
                  <i
                    class="toggle-open icon-remove-circle"></i>第一季&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total
                  Amount: $
                  <span id="ta1-{{_id}}"></span>
                </div>
                <div class="togglec">
                  <div class="row">
                    <div class="col-sm-2">January</div>
                    <div class="col-sm-2">
                      <a href="/financial/{{bg_id}}/{{value}}/1">[編輯]</a>
                    </div>
                    <div class="col-sm-4">關帳日：
                      <span class="{{value}}_date_1"></span>
                    </div>
                    <div class="col-sm-3">Total Amount：$
                      <span>{{get_month1_total}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">February</div>
                    <div class="col-sm-2">
                      <a href="/financial/{{bg_id}}/{{value}}/2">[編輯]</a>
                    </div>
                    <div class="col-sm-4">關帳日：
                      <span class="{{value}}_date_2"></span>
                    </div>
                    <div class="col-sm-3">Total Amount：$
                      <span>{{get_month2_total}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">March</div>
                    <div class="col-sm-2">
                      <a href="/financial/{{bg_id}}/{{value}}/3">[編輯]</a>
                    </div>
                    <div class="col-sm-4">關帳日：
                      <span class="{{value}}_date_3"></span>
                    </div>
                    <div class="col-sm-3">Total Amount：$
                      <span>{{get_month3_total}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="toggle toggle-bg">
                <div class="togglet">
                  <i class="toggle-closed icon-ok-circle"></i>
                  <i
                    class="toggle-open icon-remove-circle"></i>第二季&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total
                  Amount: $
                  <span id="ta2-{{_id}}"></span>
                </div>
                <div class="togglec">
                  <div class="row">
                    <div class="col-sm-2">April</div>
                    <div class="col-sm-2">
                      <a href="/financial/{{bg_id}}/{{value}}/4">[編輯]</a>
                    </div>
                    <div class="col-sm-4">關帳日：
                      <span class="{{value}}_date_4"></span>
                    </div>
                    <div class="col-sm-3">Total Amount：$
                      <span>{{get_month4_total}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">May</div>
                    <div class="col-sm-2">
                      <a href="/financial/{{bg_id}}/{{value}}/5">[編輯]</a>
                    </div>
                    <div class="col-sm-4">關帳日：
                      <span class="{{value}}_date_5"></span>
                    </div>
                    <div class="col-sm-3">Total Amount：$
                      <span>{{get_month5_total}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">June</div>
                    <div class="col-sm-2">
                      <a href="/financial/{{bg_id}}/{{value}}/6">[編輯]</a>
                    </div>
                    <div class="col-sm-4">關帳日：
                      <span class="{{value}}_date_6"></span>
                    </div>
                    <div class="col-sm-3">Total Amount：$
                      <span>{{get_month6_total}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="toggle toggle-bg">
                <div class="togglet">
                  <i class="toggle-closed icon-ok-circle"></i>
                  <i
                    class="toggle-open icon-remove-circle"></i>第三季&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total
                  Amount: $
                  <span id="ta3-{{_id}}"></span>
                </div>
                <div class="togglec">
                  <div class="row">
                    <div class="col-sm-2">July</div>
                    <div class="col-sm-2">
                      <a href="/financial/{{bg_id}}/{{value}}/7">[編輯]</a>
                    </div>
                    <div class="col-sm-4">關帳日：
                      <span class="{{value}}_date_7"></span>
                    </div>
                    <div class="col-sm-3">Total Amount：$
                      <span>{{get_month7_total}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">August</div>
                    <div class="col-sm-2">
                      <a href="/financial/{{bg_id}}/{{value}}/8">[編輯]</a>
                    </div>
                    <div class="col-sm-4">關帳日：
                      <span class="{{value}}_date_8"></span>
                    </div>
                    <div class="col-sm-3">Total Amount：$
                      <span>{{get_month8_total}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">September</div>
                    <div class="col-sm-2">
                      <a href="/financial/{{bg_id}}/{{value}}/9">[編輯]</a>
                    </div>
                    <div class="col-sm-4">關帳日：
                      <span class="{{value}}_date_9"></span>
                    </div>
                    <div class="col-sm-3">Total Amount：$
                      <span>{{get_month9_total}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="toggle toggle-bg">
                <div class="togglet">
                  <i class="toggle-closed icon-ok-circle"></i>
                  <i
                    class="toggle-open icon-remove-circle"></i>第四季&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total
                  Amount: $
                  <span id="ta-{{_id}}"></span>
                </div>
                <div class="togglec">
                  <div class="row">
                    <div class="col-sm-2">October</div>
                    <div class="col-sm-2">
                      <a href="/financial/{{bg_id}}/{{value}}/10">[編輯]</a>
                    </div>
                    <div class="col-sm-4">關帳日：
                      <span class="{{value}}_date_10"></span>
                    </div>
                    <div class="col-sm-3">Total Amount：$
                      <span>{{get_month10_total}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">November</div>
                    <div class="col-sm-2">
                      <a href="/financial/{{bg_id}}/{{value}}/11">[編輯]</a>
                    </div>
                    <div class="col-sm-4">關帳日：
                      <span class="{{value}}_date_11"></span>
                    </div>
                    <div class="col-sm-3">Total Amount：$
                      <span>{{get_month11_total}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">December</div>
                    <div class="col-sm-2">
                      <a href="/financial/{{bg_id}}/{{value}}/12">[編輯]</a>
                    </div>
                    <div class="col-sm-4">關帳日：
                      <span class="{{value}}_date_12"></span>
                    </div>
                    <div class="col-sm-3">Total Amount：$
                      <span>{{get_month12_total}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </td>
      </tr>
      <BR>
      <BR>
      <a href="/accountyear/{{_id}}">
        <button type="button" class="btn btn-primary">新增會計年份</button>
      </a>
    </tbody>
  </table>
  <BR>
  <BR>
</template>