<template name="financial">
    <style type="text/css">
        .my-form {
            margin-bottom: 10px !important;
        }
    </style>
    <h3>{{now_year}}年 {{now_month}}月 財務帳本</h3>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <form class="form-modal2">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">收據上傳</h4>
                    </div>
                    <div class="modal-body" style="margin: 15px;">
                    </div>
                    <div class="col-md-1 nobottommargin col-md-offset-2">
                        <label for="blank_doc">檔案上傳</label>
                    </div>
                    <div class="col_three_fifth col_last nobottommargin">
                        <input id="input-3" name="" type="file" class="file file_bag file-loading" data-show-upload="false" data-show-caption="true"
                            data-show-preview="true">
                        <BR>
                        <a href="#" class="upload1 btn btn-success fright">
                            <i class="icon-external-link"></i>Upload</a>
                        <br>
                        <br> {{#each files}}
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                                {{file.original_name}} {{percent_uploaded}}%
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="clear"></div>
                    <div class="modal-footer">
                        <input type="hidden" name="data_id" id="data_id">
                        <!-- <input type="hidden" name="data_type" id="data_type" value="invoice"> -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <!-- <button type="submit" class="btn btn-primary">確認</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="input-field col s12">
                {{#if is_lockbook}}
                <!-- 判斷解除鎖定的權限 -->
                {{#if isInRole 'auth_fin-open'}}
                <button class="m2-unlocktable btn waves-effect waves-light left indigo lighten-2" type="button" name="action">解除鎖定本月帳本
                    <i class="mdi-action-lock left"></i>
                    <!-- <i class="mdi-action-lock-open left"></i> -->
                </button>
                {{else}} 欲解除鎖定，請洽系統管理員。 {{/if}} {{else}}
                <button class="m2-locktable btn waves-effect waves-light left indigo lighten-2" type="button" name="action">鎖定本月帳本
                    <!-- <i class="mdi-action-lock left"></i> -->
                    <i class="mdi-action-lock-open left"></i>
                </button>
                <button type="button" class="btn btn-primary btn-new">新增</button>
                <a id="csv_financial">
                    <button type="button" class="btn btn-default">下載</button>
                </a>
                {{/if}}
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="clear"></div>
    <form class="form-modal1">
        <div class="col_one_third my-form">
            <label for="template-contactform-phone">Search</label>
        </div>
        <div class="col_two_third my-form col_last">
            <input type="text" id="search_text" placeholder="Client Name" class="sm-form-control" oninput="Template.followservice.loadPortfolio()"
                onpropertychange="Template.followservice.loadPortfolio()">
        </div>
        <div class="clear"></div>
        <div class="col_one_third my-form">
            <label for="productl1">會計科目1</label>
        </div>
        <div class="col_two_third col_last my-form">
            <select id="sel_account1" name="account1_id" class="account sm-form-control">
                <option value="">-- 全選 --</option>
                {{#each get_account1}}
                <option value="{{_id}}">{{value}}</option>
                {{/each}}
            </select>
        </div>
        <div class="clear"></div>
        <div class="col_one_third my-form">
            <label for="">會計科目2</label>
        </div>
        <div class="col_two_third col_last my-form">
            <select id="sel_account2" name="account2_id" class="account sm-form-control">
                <option value="">-- 無 --</option>
            </select>
        </div>
        <div class="clear"></div>
        <div class="col_one_third my-form">
            <label for="">科目細項</label>
        </div>
        <div class="col_two_third col_last my-form">
            <select id="sel_account3" name="account3_id" class="account sm-form-control">
                <option value="">-- 無 --</option>
            </select>
        </div>
        <div class="clear"></div>
    </form>
    <br>
    <br>
    <div id="bCounting"></div>
    <br>
    <br>
    <h4>消費分析</h4>
    <div class="col_two_third col_last">
        <!-- <div class="col s12 m6 l4"> -->
        <table class="table table-bordered">
            <!--  <thead>
                    <td colspan="3" style="text-align: center; font-size: 16px"></td>
                </thead> -->
            <tbody>
                <tr class="info">
                    <td width="25%">費用項目</td>
                    <td width="25%">細目</td>
                    <td width="25%">金額(新台幣)</td>
                    <td width="25%">比例</td>
                </tr>
                {{#each get_account1}}
                <tr class="warning">
                    <td>{{value}}</td>
                    <td id=""></td>
                    <td id="a1-b-{{_id}}">$0</td>
                    <td id="a1-c-{{_id}}">0%</td>
                </tr>
                {{#each get_account2 _id}}
                <tr class="">
                    <td id=""></td>
                    <td>{{value}}</td>
                    <td id="a2-b-{{_id}}">$0</td>
                    <td id="a2-c-{{_id}}">0%</td>
                </tr>
                {{/each}} {{/each}}
                <!--  <tr>
                        <td>住宿</td>
                        <td id="cost2_percent"></td>
                        <td id="cost2_money"></td>
                    </tr>
                    <tr>
                        <td>餐費</td>
                        <td id="cost4_percent"></td>
                        <td id="cost4_money"></td>
                    </tr>
                    <tr>
                        <td>交通</td>
                        <td id="cost6_percent"></td>
                        <td id="cost6_money"></td>
                    </tr>
                    <tr>
                        <td>客群經營</td>
                        <td id="cost8_percent"></td>
                        <td id="cost8_money"></td>
                    </tr> -->
                <tr class="success">
                    <td>總計</td>
                    <td id=""></td>
                    <td id="total_money">0</td>
                    <td id="">100%</td>
                </tr>
            </tbody>
        </table>
        <!-- </div> -->
    </div>
    <br>
    <br>
    <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
        <a class="my-open-modal1 btn-floating btn-large">
            <i class="fa fa-plus"></i>
        </a>
    </div>
    <br>
    <div class="ct-chart"></div>
</template>