<template name="financiallist">
  <h3>5-1 財會報表</h3>
  <BR>
  <style type="text/css">
    #content {
      overflow: visible;
    }

    .my-block ul {
      padding-left: 10%;
      font-size: 18px;
    }

    .my-block .caption {
      margin-bottom: 30px;
    }

    .jumbotron h2 {
      text-align: center;
    }

    .jumbotron {
      padding-bottom: 30px;
    }

    table {
      margin-bottom: 0px !important;
    }

    th {
      background-color: #cc0000;
      color: #fff;
      font-size: 22px;
      padding-left: 5px;
    }

    .toggle.toggle-bg .togglet {
      background-color: #f58a8a
    }
  </style>
  <div class="row my-block ">
    {{#each get_bg}}
    <div class="col-sm-6">
      <div class="thumbnail">
        <div class="jumbotron">
          <h2>{{value}}</h2>
        </div>
        <!-- <div class="caption">
                    <h3>1-0 設定</h3>
                    <ul>
                    </ul>
                </div> -->
        <table class="table">
          <thead>
            <tr class="">
              <th>
                <span id="title"></span>5-1-0 設定</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="background-color: #f6ccc9">
                <div class="caption acc_content clearfix my-block">
                  <ul>
                    <li>
                      <a href="/fin_arch/{{_id}}">5-1-0-1 財務帳本</a>
                    </li>
                    <!-- <li>
                            <a href="/fin_salary/{{_id}}">1-1-0-2 薪資管理</a>
                        </li> -->
                    <li>
                      <a href="/account/{{_id}}">5-1-0-2 會計科目（手動輸入）</a>
                    </li>
                    <li>
                      <a href="/bankacc/{{_id}}">5-1-0-3 出款帳戶（手動輸入）</a>
                    </li>
                    <li>
                      <a href="/accountyear/{{_id}}">5-1-0-4 會計年度</a>
                    </li>
                    <!-- <li>
                                            <a href="/account/{{_id}}">會計科目</a>
                                        </li> -->
                    <!-- <li>
                                            <a href="/bankacc/{{_id}}">銀行帳戶</a>
                                        </li> -->
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
          <thead>
            <tr class="">
              <th>
                <span id="title"></span>5-1-1 各式財務報表</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="background-color: #f6ccc9">
                <!-- <div class="accordion clearfix my-block"> -->
                <!-- {{#each acc_year}} -->
                <!-- <div id="acc_year-{{value}}" class="acctitle ">
                                            <i class="acc-closed icon-remove-circle"></i>
                                            <i class="acc-open icon-ok-circle"></i>{{value}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="/fin_arch/">財務帳本</a>
                                            <span id="year_total{{_id}}"></span>
                                        </div> -->
                <div class="caption acc_content clearfix my-block">
                  <ul>
                    <li>
                      <a href="/fin_budget/{{_id}}">5-1-1-1 資金預估表（手動輸入）</a>
                    </li>
                    <li>
                      <!-- <a href="/fin_salary/{{_id}}">1-1-1-2 月薪資表</a> -->
                      <a href="/salary_structure/{{_id}}">5-1-1-2 月薪資表（手動輸入）</a>
                    </li>
                    <li>
                      <!-- <a href="/fin_commission/{{_id}}">1-1-1-3 年度薪資總表</a> -->
                      <a href="/fin_salary/{{_id}}">5-1-1-3 年度薪資總表</a>
                    </li>
                    <li>
                      <a href="/fin_receivable/{{_id}}">5-1-1-4 應收帳款明細表（手動輸入）</a>
                    </li>
                    <!-- <li>
                                            <a href="/bankacc/{{_id}}">股東往來表（陳董報支）</a>
                                        </li> -->
                    <li>
                      <a href="/fin_expenditure/{{_id}}">5-1-1-5 支出總表</a>
                    </li>
                    <!-- <li>
                                            <a href="/accountyear/{{_id}}">收入總表</a>
                                        </li> -->
                    <li>
                      <a href="/fin_profit/{{_id}}">5-1-1-6 損益表（收支總表）</a>
                    </li>
                    <li>
                      <a href="/fin_balance/{{_id}}">5-1-1-7 資產負債表</a>
                    </li>
                    <li>
                      <a href="/fin_commission/{{_id}}">5-1-1-8 佣金管理</a>
                    </li>
                  </ul>
                </div>
                <a href="/accountyear/{{_id}}">
                  <button type="button" class="btn btn-primary">新增會計年份</button>
                </a>
                <!-- </div> -->
              </td>
            </tr>
          </tbody>
          <thead>
            <tr class="">
              <th>
                <span id="title"></span> 5-1-2 零用金及銀行帳戶明細表</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="background-color: #f6ccc9">
                <!-- <div class="accordion clearfix my-block"> -->
                <!-- {{#each acc_year}} -->
                <!-- <div id="acc_year-{{value}}" class="acctitle ">
                                                <i class="acc-closed icon-remove-circle"></i>
                                                <i class="acc-open icon-ok-circle"></i>{{value}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a href="/fin_arch/">財務帳本</a>
                                                <span id="year_total{{_id}}"></span>
                                            </div> -->
                <div class="caption acc_content clearfix my-block">
                  <ul>
                    {{#each findBank _id}}
                    <li>
                      <a href="fin_arch/{{_id}}">{{value}}</a>
                    </li>
                    {{/each}}
                  </ul>
                </div>
                <a href="/accountyear/{{_id}}">
                  <button type="button" class="btn btn-primary">新增會計年份</button>
                </a>
                <!-- </div> -->
              </td>
            </tr>
          </tbody>
          <thead>
            <tr class="">
              <th>
                <span id="title"></span> 5-1-3 日記帳</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="background-color: #f6ccc9">
                <div class="caption acc_content clearfix my-block">
                  <ul>
                    <li>
                      <a href="/financial/{{_id}}">5-1-3-1 日記帳（手動輸入）</a>
                    </li>
                    <li>
                      <a href="/fin_diaryrec/{{_id}}">5-1-3-2 日記帳過去紀錄</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    {{/each}}
  </div>
  <!-- <a href="/businessgroup/{{_id}}" style="font-weight: bolder; font-size: 18px"><button class="btn btn-primary">隸屬事業群設定</button></a> -->
  <br>
  <br>
  <!-- <div class="col_one_third nobottommargin col_last">
        <div class="fancy-title title-border">
            <h4>國家/地區</h4>
            <button style="float: right; margin-top: 10%;" class="right btn btn-primary btn-new1">新增</button>
        </div>
        <br>
        <div id="e_country"></div>
    </div> -->
  <br />
  <br />
  <br />
</template>