<template name="fundconfigure">
    <h3>6-5 基金管理(內部)</h3>
    <!-- <h4>產品分類管理</h4> -->
    <!-- <div style="font-size: 15px;">直接拖曳可以調整順序</div> -->
            <div id="jFundConfigure"></div>
    
    <div class="clear"></div>
    <!-- <h4>產品內容管理</h4> -->
    <!-- <p>here</p> -->
</template>
