<template name="fundtransfer">
    <h3>2-6 基金淨值更新</h3>
    <input type="file" id='csv'>
    <br>
    <!-- 一、請貼上CSV(逗號分隔檔)檔案中的原始資料，要有逗號來隔開每欄的資料。<br>
二、第一列為標題欄，請保留。 -->
    <textarea id="loadfund-text" style=" width: 100%; min-width:500px; height: 300px;"></textarea>
    <br>
    <button style="margin-top:0px;" type="button" id="loadfund-btn" name="quick-contact-form-submit"
        class="btn btn-primary" value="button"> + 讀入</button>
    <BR>
    <div id="import-success"></div>
    <div id="import-error"></div>
    <BR>
</template>