<template name="hrlist">
    <style type="text/css">
        #content {
            overflow: visible;
        }

        .my-block ul {
            padding-left: 40%;
            font-size: 22px;
        }

        .my-block .caption {
            margin-bottom: 30px;
        }

        .jumbotron h2 {
            text-align: center;
        }

        .jumbotron {
            padding-bottom: 30px;
        }
    </style>
    <h3>4-6 差勤管理</h3>
    <div class="row my-block ">
        {{#each get_bg}}
        <div class="col-sm-6">
            <div class="thumbnail">
                <div class="jumbotron">
                    <h2>{{value}}</h2>
                </div>
                <div class="caption">
                    <!-- <h3>Thumbnail label</h3> -->
                    <ul>
                        <!-- <li><a href="#">人事規章管理</a></li> -->
                        <!-- <li><a href="/dayoff/{{_id}}">差勤申請</a></li> -->
                        {{#if isInRole 'auth_hr-edit'}}
                        <li><a href="/dayoff_management/{{_id}}">4-6-1 差勤總覽</a></li>
                        <li><a href="/salary_structure/{{_id}}">4-6-2 薪資結構</a></li>
                        <!-- <li><a href="/salary_excel/{{_id}}">Excel表</a></li> -->
                        <!-- <li><a href="#">產出薪資表PDF</a></li> -->
                        <li><a href="/dayoff_set/{{_id}}">4-6-3 差勤設定</a></li>
                        {{/if}}

                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <BR>
    <a href="/businessgroup/{{_id}}" style="font-weight: bolder; font-size: 18px"><button
            class="btn btn-primary">隸屬事業群設定</button></a>
    <BR>
    <BR>
</template>