<template name="interestcondition_co">
    <h3>6-6 配息條件【公司應收配息】</h3>
    <button type="button" class="btn btn-warning btn-new">新增</button>
    <BR>
    <BR>
    <span id="e_interestcondition_co"></span>
    <BR>
    <BR>
    <BR>
    <BR>
</template>
