<template name="oproduct1">
<style type="text/css">
    #content {
      overflow : visible;
    }
    .fr-element ol{
        padding: auto;
    }
    .fr-element li{
        padding: auto;
    }
</style>
    <!-- <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <form class="form-modal1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增產品分類1</h4>
                    </div>
                    <div class="modal-body" style="margin: 15px;">
                        <div class="col_one_fifth nobottommargin">
                            <label for="value">項目</label>
                        </div>
                        <div class="col_two_fifth col_last nobottommargin">
                            <input name="value" id="value" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="modal-footer">
                        <span class="modal1-error"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button type="submit" class="my-btn-submit1 btn btn-primary">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <form class="form-modal2">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增產品分類2</h4>
                    </div>
                    <div class="modal-body" style="margin: 15px;">
                        <div class="col_one_fifth nobottommargin">
                            <label for="value">項目</label>
                        </div>
                        <div class="col_two_fifth col_last nobottommargin">
                            <input name="value" id="value" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="modal-footer">
                        <span class="modal2-error"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button type="submit" class="my-btn-submit2 btn btn-primary">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <form class="form-modal3">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增產品分類3</h4>
                    </div>
                    <div class="modal-body" style="margin: 15px;">
                        <div class="col_one_fifth nobottommargin">
                            <label for="value">項目</label>
                        </div>
                        <div class="col_two_fifth col_last nobottommargin">
                            <input name="value" id="value" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="modal-footer">
                        <span class="modal3-error"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button type="submit" class="my-btn-submit3 btn btn-primary">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <form class="form-modal4">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增產品分類4</h4>
                    </div>
                    <div class="modal-body" style="margin: 15px;">
                        <div class="col_one_fifth nobottommargin">
                            <label for="value_cht">項目(中)</label>
                        </div>
                        <div class="col_two_fifth col_last nobottommargin">
                            <input name="value_cht" id="value_cht" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_fifth nobottommargin">
                            <label for="value_eng">項目(英)</label>
                        </div>
                        <div class="col_two_fifth col_last nobottommargin">
                            <input name="value_eng" id="value_eng" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="modal-footer">
                        <span class="modal4-error"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button type="submit" class="my-btn-submit4 btn btn-primary">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <h3>6-2 產品管理(外部) 選單</h3>
    <!-- <h4>產品分類管理</h4> -->
    <div style="font-size: 15px;">直接拖曳可以調整順序</div>
    <div style="margin-top: 10px; ">
        <div class="col_one_third nobottommargin">
            <div>
                <label>產品分類1</label>
                <!-- <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-pink" data-toggle="modal" data-target="#myModal1">新增1</a> -->
                <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-pink btn-new1">新增1</a>
            </div>
            <div id="jProduct1"></div>
        </div>
        <div id="p2" class="col_two_third col_last nobottommargin">
            <div>
                <label>產品分類2</label>
                <!-- <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-pink" data-toggle="modal" data-target="#myModal2">新增2</a> -->
                <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-pink btn-new2">新增2</a>
            </div>
            <div id="jProduct2"></div>
        </div>
        <div class="clear" style="margin-bottom: 15px;"></div>
        <div id="p3" class="col_one_third nobottommargin">
            <div>
                <label>產品分類3</label>
                <!-- <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-pink" data-toggle="modal" data-target="#myModal3">新增3</a> -->
                <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-pink btn-new3">新增3</a>
            </div>
            <div id="jProduct3"></div>
        </div>
        <div id="p4" class="col_two_third col_last nobottommargin">
            <div>
                <label>產品分類4</label>
                <!-- <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-pink" data-toggle="modal" data-target="#myModal4">新增4</a> -->
                <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-pink btn-new4">新增4</a>
            </div>
            <div id="jProduct4"></div>
        </div>
    </div>
    <BR>
    <BR>
    <div class="clear"></div>
    <!-- <h2>產品內容管理</h2> -->
    <style type="text/css">
    #p4-management h4 {
        margin-top: 22px;
    }

    #p4-management .sm-form-control {
        margin-bottom: 8px;
    }
    </style>
    <div id="p4-management" class="fancy-title title-bottom-border" style="display: none;">
        <h4>最上面的圖</h4>
        <p>
            <!-- <input type="file" multiple="" name="myfile" class="myFileInput"> -->
            <input id="" name="input2[]" type="file" class="file file_bag file-loading" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
            <BR>
            <a href="#" class="upload1 button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
            {{#each files}}
            <!-- <h4></h4> -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                    {{file.original_name}} {{percent_uploaded}}%
                </div>
            </div>
            {{/each}}
        </p>
        <p>
            <img id="op4-big-pic" src="">
        </p>
        <h4>主要大圖</h4>
        <p>
            <!-- <input type="file" multiple="" name="myfile2" class="myFileInput2"> -->
            <input id="" name="input2[]" type="file" class="file file_bag file-loading" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
            <BR>
            <a href="#" class="upload2 button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
            {{#each files}}
            <!-- <h4></h4> -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                    {{file.original_name}} {{percent_uploaded}}%
                </div>
            </div>
            {{/each}}
        </p>
        <p>
            <img id="op4-big-pic2" src="">
        </p>
        <h4>標題
            <a id="save-p4-title" style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-amber">儲存</a>
        </h4>
        <br>
        <div class="col_one_fifth nobottommargin">
            <label for="title1">大標題</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            <input name="title1" id="title1" type="text" class="text sm-form-control">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="title2">小標題</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            <input name="title2" id="title2" type="text" class="text sm-form-control">
        </div>
        <div class="clear"></div>
        <h4>介紹方框
            <a id="save-p4-intro" style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-amber">儲存</a>
            <!-- <a id="add-p4-intro" style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-leaf">新增</a> -->
        </h4>
        <br>
        <div class="col_one_fifth nobottommargin">
            <label for="intro_title1">標題1</label>
        </div>
        <div class="col_three_fifth nobottommargin">
            <input id="intro_title1" name="intro_title1" type="text" class="intro_title text sm-form-control">
        </div>
        <div class="col_one_fifth col_last nobottommargin">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="intro_content1">內文1</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            <textarea id="intro_content1" class="sm-form-control" name="intro_content1" style="width:100%;height: 100px;"></textarea>
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="intro_title2">標題2</label>
        </div>
        <div class="col_three_fifth nobottommargin">
            <input id="intro_title2" name="intro_title2" type="text" class="intro_title text sm-form-control">
        </div>
        <div class="col_one_fifth col_last nobottommargin">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="intro_content2">內文2</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            <textarea id="intro_content2" class="sm-form-control" name="intro_content2" style="width:100%;height: 100px;"></textarea>
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="intro_title3">標題3</label>
        </div>
        <div class="col_three_fifth nobottommargin">
            <input id="intro_title3" name="intro_title2" type="text" class="intro_title text sm-form-control">
        </div>
        <div class="col_one_fifth col_last nobottommargin">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="intro_content3">內文3</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            <textarea id="intro_content3" class="sm-form-control" name="intro_content3" style="width:100%;height: 100px;"></textarea>
        </div>
        <div class="clear"></div>


        <div id="intro_others"></div>

        <h4>影片
            <a id="save-p4-video" style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-amber">儲存</a>
        </h4>
        <br>
        <div class="col_one_fifth nobottommargin">
            <label for="youtube_url">Youtube影片 位置</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            https://www.youtube.com/watch?v=<input name="youtube_url" id="youtube_url" type="text" style="display: inline; width: 140px;" class="text sm-form-control" value="" placeholder="">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="youtube_title">Youtube影片 標題</label>
        </div>
        <div class="col_three_fifth nobottommargin">
            <input id="youtube_title" name="youtube_title" type="text" class=" text sm-form-control">
        </div>
        <div class="col_one_fifth col_last nobottommargin">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="youtube_content">Youtube影片 說明</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            <textarea id="youtube_content" class="sm-form-control" name="youtube_content" style="width:100%;height: 100px;"></textarea>
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="video_url">其他影片 位置</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            <input name="video_url" id="video_url" type="text" class="text sm-form-control" value="http://" placeholder="http://">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="video_title">其他影片 標題</label>
        </div>
        <div class="col_three_fifth nobottommargin">
            <input id="video_title" name="video_title" type="text" class="intro_title text sm-form-control">
        </div>
        <div class="col_one_fifth col_last nobottommargin">
        </div>
        <div class="clear"></div>
        <div class="col_one_fifth nobottommargin">
            <label for="video_content">其他影片 說明</label>
        </div>
        <div class="col_three_fifth col_last nobottommargin">
            <textarea id="video_content" class="sm-form-control" name="video_content" style="width:100%;height: 100px;"></textarea>
        </div>
        <div class="clear"></div>
        <br>
        <h4>產品圖片
            <!-- <a style="float: right; margin-top: -4px;" href="#" class="right button button-3d button-mini button-rounded button-amber" data-toggle="modal" data-target="#myModal4">新增</a> -->
            </h4>
        <!-- <p>123</p> -->

        <p>
            <!-- <input type="file" multiple="" name="myfile3" class="myFileInput3"> -->
            <input id="" name="input2[]" type="file" class="file file_bag file-loading" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
            <BR>
            <a href="#" class="upload3 button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
            {{#each files}}
            <!-- <h4></h4> -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                    {{file.original_name}} {{percent_uploaded}}%
                </div>
            </div>
            {{/each}}
        </p>
        <!-- <br> -->
        <style type="text/css">
            .grid-img{
                width: 100%;
                max-height: 200px;
                max-width: 200px;
            }
        </style>
        <div id="cFiles"></div>
    </div>
</template>
