<template name="portfolio">
    <style type="text/css">
        #content {
            overflow: visible;
        }

        .bg-grey {
            background-color: #94cddb;
        }

        .bg-content {
            background-color: #dbeef3;
        }

        .width-title {
            width: 15%;
        }

        .width-title2 {
            width: 7.5%;
        }

        .width-content {
            width: 35%;
            background-color: #dbeef3;
        }

        table {
            margin-bottom: 0px !important;
        }

        .editable-click {
            cursor: pointer;
        }

        .on-editing {
            display: none;
        }

        .info {
            background-color: #c4d69e;
        }

        .success {
            background-color: #4f612c;
        }
    </style>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <form class="form-modal1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增投資項目</h4>
                    </div>
                    <div class="modal-body" style="margin: 15px;">
                        <div class="col_one_third my-form">
                            <label for="productl1">產品類別1</label>
                        </div>
                        <div class="col_two_third col_last my-form">
                            <select id="eproduct1" name="product1_id" class="product sm-form-control">
                                <option value="">-- 全選 --</option>
                                {{#each Product1}}
                                <option value="{{_id}}">{{value}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_third my-form">
                            <label for="productl2">產品類別2</label>
                        </div>
                        <div class="col_two_third col_last my-form">
                            <select id="eproduct2" name="product2_id" class="product sm-form-control">
                                <option value="">-- 無 --</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_third my-form">
                            <label for="productl3">產品類別3</label>
                        </div>
                        <div class="col_two_third col_last my-form">
                            <select id="eproduct3" name="product3_id" class="product sm-form-control">
                                <option value="">-- 無 --</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_third my-form">
                            <label for="productl4">產品類別4</label>
                        </div>
                        <div class="col_two_third col_last my-form">
                            <select id="eproduct4" name="product4_id" class="product sm-form-control">
                                <option value="">-- 無 --</option>
                            </select>
                        </div>
                        <BR>
                        <BR>
                    </div>
                    <div class="modal-footer">
                        <span class="modal1-error"></span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button type="button" class="my-btn-submit1 btn btn-primary">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style type="text/css">
        #myModalFile .modal-dialog,
        #myModalFile .modal-content {
            height: 95%
        }

        #myModalFile .modal-body {
            height: 85%;
            overflow-y: scroll;
        }
    </style>

    <div class="modal fade" id="myModalFile" tabindex="-1" role="dialog" aria-labelledby="myModalFileLabel">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">檔案預覽 <span id="modal2-link"></span></h4>
                </div>
                <div class="modal-body">
                    <iframe id="file_iframe" src="" width="100%" height="100%"></iframe>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-mycancel btn btn-default" data-dismiss="modal">關閉</button>
                    <!-- <button type="button" data-dismiss="modal" class="btn-print btn btn-warning">列印</button> -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <h3>portfolio</h3>  -->
    <div class="" style="text-align: right;">
        <!-- <a href="/client/{{client_id}}">客戶資料-{{name_cht}}</a>　 -->
        <!-- <a href="javascript:history.back()">回上一頁</a> -->
        <button style="margin-top:-7px;" type="button" id="print-form-btn" name="quick-contact-form-submit" class="button button-small button-3d fright button-leaf"
            value="button">
            <i class="icon-print"></i> 列印本筆</button>
        {{#if isInRole 'auth_cus-del' }}
        <button style="margin-top:-7px;" type="button" id="del-form-btn" name="quick-contact-form-submit" class="button button-small button-3d fright button-pink"
            value="button">
            <i class="icon-trash2"></i> 刪除本筆</button>
        {{/if}}
        {{#if isInRole 'auth_cus-edit'}}
        <button style="margin-top:-7px;" type="button" id="unedit-form-btn" name="quick-contact-form-submit" class="button button-small button-3d fright button-purple"
            value="button">
            <i class="icon-lock3"></i> 關閉編輯</button>
        <button style="margin-top:-7px;" type="button" id="edit-form-btn" name="quick-contact-form-submit" class="button button-small button-3d fright button-amber"
            value="button">
            <i class="icon-unlock"></i> 開啟編輯</button>
        <button style="margin-top:-7px;" type="button" id="portfolios-form-btn" data-toggle="modal" data-target="#myModal1" name=""
            class="button button-small button-3d fright button-yellow" value="button">
            <i class="icon-plus"></i> 投資項目</button>
        <!-- {{else}} -->
        
        {{/if}}
    </div>
    <div class="clear"></div>
    <BR>
    <div id="printarea">
        <div class="fancy-title title-border ">
            <h4>{{getTemplateName}}</h4>
            <div style="width: 360px;margin-top: 23px;margin-bottom:5px;" class="fright">
                <select id="client-portfolio-id" name="template-contactform-service" class="fleft sm-form-control"
                    style="width: 350px;margin-top: 3px;">
                </select>
                <!--  <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-3d nomargin fright button-yellow" value="button">
                <i class="icon-plus"></i> 投資項目</button> -->
            </div>
        </div>
        <table class="table">
            <thead>
                <tr class="info">
                    <!-- <tr> -->
                    <th>客戶編號</th>
                    <th>姓名</th>
                    <th>連絡電話</th>
                    <th>Email</th>
                    <th>財務顧問</th>
                    <th>投資項目</th>
                    <th>Policy No.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{client_uid}}</td>
                    <td><a href="/client/{{client_id}}">{{name_cht}}</a></td>
                    <td>{{contactnum}}</td>
                    <td>{{email}}</td>
                    <td>{{agent_text}}</td>
                    <td>{{product4_text}} </td>
                    <td>{{account_num}} {{getNowPhase}} {{getInsuranceStatus}}</td>
                </tr>
            </tbody>
        </table>
        <BR>
        {{> Template.dynamic template=getPanel }}
    </div>
    <BR>
    <BR>
</template>