<template name="productinfo">
    <h3>3-1 產品資訊</h3>
    <p></p>
    <div id="fundconfigure"></div>
    <!-- <table class='table'>
        <thead>
            <tr>
                <th rowspan="2">基金名稱</th>
                <th>現在價格</th>
                <th>一週前價格</th>
                <th>一月前價格</th>
                <th>一年前價格</th>
            </tr>
            <tr>
                <th>{{nowDate}}</th>
                <th>{{lastWeek}}</th>
                <th>{{lastMonth}}</th>
                <th>{{lastYear}}</th>
            </tr>
        </thead>
    </table> -->

</template>