<template name="product3">
    <div class="entry-image">
        <img id="op4-big-pic" class="image_fade" src="/product_top.png" alt="Standard Post with Image">
    </div>
    <div class="clear"></div>
    <!-- <BR> -->
    <style type="text/css">
        #content {
          overflow : visible;
        }
        .my-breadcrumb{
            /*content: "/\00a0";*/
            padding: 0 5px;
            color: #cccccc;
        }
    </style>
    <div>
        {{breadcrumb1}}
        <span class="my-breadcrumb">/</span>
        {{breadcrumb2}}
        <span class="my-breadcrumb">/</span>
        {{breadcrumb3}}
  <!--       <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Shortcodes</a></li>
            <li class="active">Tabs</li>
        </ol> -->
    </div>
    <div class="clear"></div>
    <BR>
    <div class="tabs clearfix" id="tab-8">
        <ul class="p3-ul tab-nav clearfix">
        </ul>
        <div class="p3-tab-container tab-container">
        </div>
    </div>
    <div class="clear"></div>
    <div class="entry-image">
        <img id="op4-big-pic2" class="image_fade" src="/product_main.png" alt="Standard Post with Image">
    </div>
    <div class="entry-title">
        <!-- <h2><a href="blog-single-small.html">Lafayatte Colorado Senior Living</a></h2> -->
        <h2 id="title1"></h2>
        <h4 id="title2"></h4>
    </div>
    <BR>
    <BR>
    <h4 id="intro_title1">物業亮點</h4>
    <div class="entry-image">
        <div class="panel panel-default">
            <div id="intro_content1" class="panel-body">
                <!-- <BR><BR> -->
               <!--  - 1997年開始營運，2008年加以擴建
                <BR> - 位處科羅拉多州首府丹佛市 (Denver)西北方約40分鐘車程
                <BR> - 現有68個床位，入住率約 74%
                <BR> - 占地3.16英畝(約3,865坪)，計 畫增加約30個床位
                <BR> - 2014年第1季完成收購，募資 390萬美元
                <BR> - 每一床位每月平均收入為3,100 至4,700美元
                <BR> - 現時營運中床位皆提供一般老 人照護服務，未來將逐步升級 為阿茲海默症照護服務 -->
                <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, fuga optio voluptatibus saepe tenetur aliquam debitis eos accusantium! Vitae, hic, atque aliquid repellendus accusantium laudantium minus eaque quibusdam ratione sapiente. -->
            </div>
        </div>
    </div>
    <h4 id="intro_title2">投資亮點</h4>
    <div class="entry-image">
        <div class="panel panel-default">
            <div class="panel-body" id="intro_content2">
               <!--  第1~4 年： 每年7%分兩次付， 每半年付3.5%
                <BR> 第5/6年 ： 物業再融資， 逐步返還投資人之本金
                <BR> 第6/7年 ： 根據投資者多數決， 將物業出售，分配收益， 結束計畫離場 -->
            </div>
        </div>
    </div>
    <h4 id="intro_title3">投資亮點</h4>
    <div class="entry-image">
        <div class="panel panel-default">
            <div class="panel-body" id="intro_content3">
                <!-- 第1~4 年： 每年7%分兩次付， 每半年付3.5%
                <BR> 第5/6年 ： 物業再融資， 逐步返還投資人之本金
                <BR> 第6/7年 ： 根據投資者多數決， 將物業出售，分配收益， 結束計畫離場 -->
            </div>
        </div>
    </div>
    <div class="entry clearfix">
        <div class="entry-image">
            <iframe id="youtube_url" width="560" height="315" src="http://www.youtube.com/embed/SZEflIVnhH8" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="entry-title">
            <h2 id="youtube_title"></h2>
        </div>
        <div class="entry-content">
            <p id="youtube_content"></p>
        </div>
        <div class="entry-title">
            <h2><a id="video_url" target="_blank" href="blog-single-full.html"></a></h2>
        </div>
        <div class="entry-content">
            <p id="video_content"></p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="div-owl fancy-title title-center title-dotted-border topmargin">
        <h3>產品圖片</h3>
    </div>
    <div id="oc-portfolio" class="div-owl owl-carousel portfolio-carousel">
  <!--       <div class="oc-item">
            <div class="iportfolio">
                <div class="portfolio-image">
                    <img src="/product_1.png" alt="Open Imagination">
                    <div class="portfolio-overlay">
                        <a href="/product_1.png" class="center-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                    </div>
                </div>
                <div class="portfolio-desc">
                    <h3>Open Imagination</h3>
                    <span>Media</span>
                </div>
            </div>
        </div> -->
    </div>
</template>
