<template name="reportcenter">
    <style type="text/css">
        #content {
            overflow: visible;
        }

        #myModalFile .modal-dialog,
        #myModalFile .modal-content {
            height: 95%
        }

        #myModalFile .modal-body {
            height: 85%;
            overflow-y: scroll;
        }
    </style>
    <h3>2-8 文件追蹤</h3>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 550px;">
            <div class="modal-content">
                <form class="form-modal1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">文件類別管理</h4>
                    </div>
                    <div class="modal-body" style="padding: 10px;">
                        <div class="input-field col s12">
                            <label>新增文件類別</label>
                            <input name="catalog" id="catalog" type="text" class=" text">
                            <button type="submit" class="my-btn-submit1 btn btn-success">新增</button>
                        </div>
                        <div class="clear"></div>
                        <div id="e_reportcenter1"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-mycancel btn btn-default" data-dismiss="modal">關閉</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <form class="form-modal2">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新增文件</h4>
                    </div>
                    <div class="modal-body" style="margin: 15px;">
                        <div class="col_one_fifth nobottommargin">
                            <label>文件類別</label>
                        </div>
                        <div class="col_four_fifth col_last nobottommargin">
                            <span id="m2-f1_showtext"></span>
                            <!-- 開啟這個modal的時候 1、顯示f1的文字 2、把f1的值，寫入一個hidden的input -->
                            <input type="hidden" name="f1" id="m2-f1">
                            <input type="hidden" name="f1_text" id="m2-f1_text">
                            <!-- 上傳檔案後 也把網址放這下面這兩個欄位中 -->
                            <input type="hidden" name="file1_url" id="m2-file1_url">
                            <input type="hidden" name="file2_url" id="m2-file2_url">
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_fifth nobottommargin">
                            <label for="doc_name">標題</label>
                        </div>
                        <div class="col_four_fifth col_last nobottommargin">
                            <input name="doc_name" id="doc_name" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_fifth nobottommargin">
                            <label for="doc_website">網址</label>
                        </div>
                        <div class="col_four_fifth col_last nobottommargin">
                            <input name="doc_website" id="doc_website" type="text" class="text">
                        </div>
                        <div class="clear"></div>
                        <div class="col_one_fifth nobottommargin">
                            <label for="remark">備註</label>
                        </div>
                        <div class="col_four_fifth col_last nobottommargin">
                            <input name="remark" id="remark" type="text" class="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                        <button type="submit" class="btn btn-primary">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="col_one_third">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal1">文件類別管理</button>
    </div>
    {{#if get_catalog_count}}
    <div class="col_two_third col_last">
        <div>文件類別</div>
        <select id="sel-catalog" name="catalog" class="sm-form-control">
            {{#each get_catalog}}
            <option value="{{_id}}">{{catalog}}</option>
            {{/each}}
        </select>
    </div>
    <div class="clear"></div>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal2">新增文件</button>
    <BR>
    <BR>
    {{/if}}
    <div id="e_reportcenter1" style="display: none;"></div>
    <div id="e_reportcenter2" style="{{#if get_catalog_count}}{{else}}display: none;{{/if}}"></div>
</template>