<template name="salary_structure">
  <style type="text/css">
    #content {
      overflow: visible;
    }

    .total-row {
      font-weight: bold;
      background: #f5f5f5;
    }

    .total-row td {
      border-top: 2px solid #efefef;
    }

    #e_salary_structure .jsgrid-header-row>.jsgrid-header-cell {
      background: #d9534f;
      border: 0;
      color: white;
    }

    #e_salary_structure_2 .jsgrid-header-row>.jsgrid-header-cell {
      background: #5cb85c;
      border: 0;
      color: white;
    }

    #e_salary_structure_3 .jsgrid-header-row>.jsgrid-header-cell {
      background: #428bca;
      border: 0;
      color: white;
    }
  </style>
  <h3><span id="title"></span> 4-6-2 薪資結構</h3>
  <div class="row">
    <a data-bg="{{get_bg}}" class='btn btn-primary fleft' data-toggle="modal" data-target="#myModal2"
      style="margin-top: 1%;margin-left: 2%;margin-right: 3%"> + 員工</a>
    <div class="col-lg-3">會計年度
      <select id="year_id" name="year_id" class="year_id sel_filter sm-form-control" style="width: 200px;">
        {{#each acc_year}}
        <option value="{{value}}">{{value}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-lg-3">月份
      <select id="month_id" name="month_id" class="month_id sel_filter sm-form-control " style="width: 200px;">
        <option value="1">一月</option>
        <option value="2">二月</option>
        <option value="3">三月</option>
        <option value="4">四月</option>
        <option value="5">五月</option>
        <option value="6">六月</option>
        <option value="7">七月</option>
        <option value="8">八月</option>
        <option value="9">九月</option>
        <option value="10">十月</option>
        <option value="11">十一月</option>
        <option value="12">十二月</option>
      </select>
    </div>
  </div>
  <br>
  <br>
  <div class="fancy-title title-border">
    <h4>4-6-2-1 薪資表</h4><a id="csv_1"><button class="fright btn btn-default" style="margin-right : -8%">下載</button></a>
  </div>
  <div id="e_salary_structure"></div>
  <BR>
  <BR>
  <BR>
  <!-- <div class="fancy-title title-border">
        <h4>2-6-2-2 勞健保</h4><a href="#" id="csv_2"><button class="fright btn btn-default" style="margin-right : -8%">下載</button></a>
    </div>
    <div id="e_salary_structure_2"></div>
    <BR>
    <BR>
    <BR>
    <div class="fancy-title title-border">
        <h4>2-6-2-3 發放薪資總額</h4><a href="#" id="csv_3"><button class="fright btn btn-default" style="margin-right : -8%">下載</button></a>
    </div>
    <div id="e_salary_structure_3"></div>
    <BR> -->
  <BR>
  <table class="table" style="width:600px">
    <thead>
      <tr class="info">
        <th colspan="5">漢栢略國際金融股份有限公司</th>
      </tr>
      <tr>
        <th colspan="5">108年 01月份 薪資單</th>
      </tr>
    </thead>
    <tbody>
      <tr class="danger">
        <td colspan="5">薪資明細</td>
      </tr>
      <tr class="warning">
        <td>薪資項目</td>
        <td>金額</td>
        <td>扣款項目</td>
        <td>金額</td>
        <td>備註</td>
      </tr>
      <tr>
        <td>基本薪資</td>
        <td></td>
        <td>勞保</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>職務加給</td>
        <td></td>
        <td>健保</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>交通津貼</td>
        <td></td>
        <td>代扣稅款</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>伙食津貼</td>
        <td></td>
        <td>請假</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>其他</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>應領合計</td>
        <td></td>
        <td>應扣合計</td>
        <td></td>
        <td></td>
      </tr>
      <tr class='warning'>
        <td>實發金額&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>備註&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <BR>
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 30%;">
      <div class="modal-content">
        <form class="form-modal2">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">選擇員工</h4>
          </div>
          <div class="modal-body" style="margin: 15px;">
            <div class="col_one_third nobottommargin">
              <label></label>
            </div>
            <div class="col_one_third nobottommargin">
              <input type="checkbox" class="check" id="checkAll"> 全選
              <BR> {{#each get_user}}
              <input class="check" type="checkbox" name="name" value="{{_id}}"> {{chtname}}
              <BR> {{/each}}
              <input type="hidden" id="bg_id" name="bg_id">
            </div>
            <div style="clear:both;"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
            <button type="button" class="btn-m2-new btn btn-primary" data-dismiss="modal">新增</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>