<template name="portfolio5">
    <!-- <h4>新案申請 美國.加拿大</h4> -->
    <table class="table">
        <thead>
            <tr class="success">
                <!-- <tr> -->
                <th colspan="4">{{product4_text}}</th>
            </tr>
            <tr class="info">
                <!-- <tr> -->
                <th colspan="4" class="warning">計劃資料</th>
            </tr>
        </thead>
        <colgroup>
            <col class="width-title bg-grey" />
            <col class="width-content bg-content" span="" />
            <col class="width-title bg-grey" span="" />
            <col class="width-content bg-content" />
        </colgroup>
        <tbody>
            <tr>
                <td>Policy No.</td>
                <td><span class="my-xedit my-xedit-text" id="account_num"></span></td>
                <td>預購書</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="prebuybook_date"></span></td>
            </tr>
            <tr>
                <td>投資種類</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="invest_type" data-obj="objInvestType"></span></td>
                <td>契約書交付</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="givecontract_date"></span></td>
            </tr>
            <tr>
                <td>公司形式</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="company_type" data-obj="objCompanyType"></span></td>

                <td>離場機制 / 是否有離場</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="is_leave" data-obj="objYN"></span></td>

            </tr>
            <tr>
                <td>投資金額</td>
                <td><span class="my-xedit my-xedit-text" id="invest_money"></span></td>
                <td>本金返還(離場)<br>日期/金額</td>
                <td>
                    <!-- <span data-type="combodate" class="my-xedit my-xedit-date" id="return_principal_date"></span> US$<span class="my-xedit my-xedit-number" id="return_principal_money"></span> -->
                    <div id="arrReturnPrincipal"></div>
                    <a href="#" class="addReturnPrincipal on-editing">[+]</a>
                </td>
            </tr>
            <tr id="ic-link">
                <td>生效日</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="effective_date"></span></td>
                <td>總餘下投資金額</td>
                <td><span class="my-xedit my-xedit-text" id="leavetotal_money"></span></td>
            </tr>
            <tr>
                <td>匯款日/金額</td>
                <td><!-- <span data-type="combodate" class="my-xedit my-xedit-date" id="payment_date"></span> <span class="my-xedit my-xedit-text" id="payment_money"></span>&nbsp;&nbsp;&nbsp;
                    <span data-type="select" class="my-xedit my-xedit-sel" data-obj="objSalaryCash" id="payment_moneytype"> </span> -->
                    <div id="arrPaymentDateMoney"></div> <a href="#" class="addPaymentDateMoney on-editing">[+]</a>
                </td>
                <td style="background-color: #fef18a">IRS W7 FORM</td>
                <td>
                    簽署日期：<span data-type="combodate" class="my-xedit my-xedit-date" id="irs_w7_sign_date"></span><BR>
                    狀態：<span data-type="select" class="my-xedit my-xedit-sel" id="irs_w7_status" data-obj="objStatusP5"></span><BR>
                    遞交日期：<span data-type="combodate" class="my-xedit my-xedit-date" id="irs_w7_sent_date"></span><BR>
                    備註：<span class="my-xedit my-xedit-text" id="irs_ps"></span>
                </td>
            </tr>
            <tr>
                <td>匯款方式</td>
                <td><span class="my-xedit my-xedit-text" id="payment_method"></span></td>
                <td style="background-color: #fef18a">Certified Passport</td>
                <td>
                    護照有效日期：<span data-type="combodate" class="my-xedit my-xedit-date" id="certpassport_use_date"></span><BR>
                    狀態：<span data-type="select" class="my-xedit my-xedit-sel" id="certpassport_status" data-obj="objStatusP5"></span><BR>
                    遞交日期：<span data-type="combodate" class="my-xedit my-xedit-date" id="certpassport_sent_date"></span><BR>
                    備註：<span class="my-xedit my-xedit-text" id="certpassport_ps"></span>
                </td>
            </tr>
            <tr>
                <td>收款憑證</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="receive_money_date"></span></td>
                <td style="background-color: #fef18a">ITIN/SSN No.</td>
                <td>
                    輸入文字(編號)：<span class="my-xedit my-xedit-text" id="itin_text"></span><BR>
                    狀態：<span data-type="select" class="my-xedit my-xedit-sel" id="itin_status" data-obj="objStatusP5"></span><BR>
                    遞交日期：<span data-type="combodate" class="my-xedit my-xedit-date" id="itin_date"></span><BR>
                    備註：<span class="my-xedit my-xedit-text" id="itin_ps"></span>
                </td>
            </tr>
            <tr>
                <td>利率條件</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="interest_condition" data-obj="Interestcondition"></span> <a href="/interestcondition" target="_blank">[查詢代號明細]</a></td>
                <td style="background-color: #fef18a">2848</td>
                <td><span class="my-xedit my-xedit-text" id="t2848_text"></span></td>
            </tr>
            <tr>
                <td>投資年限</td>
                <td><span class="my-xedit my-xedit-text" id="pay_year_num"></span></td>
                <td style="background-color: #fef18a">Tax Return</td>
                <td><span class="my-xedit my-xedit-text" id="taxret_text"></span></td>
            </tr>
            <tr>
                <td>配息週期</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="giveinterest_period" data-obj="objPaymentFreqYear"></span></td>
                <td>集資完成日期</td>
                <td><span data-type="combodate" class="my-xedit my-xedit-date" id="collectdone_date"></span></td>
            </tr>
            <tr>
                <td>配息月份</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="payMonthNum" data-obj="objPayMonthNum"></span></td>
                <td>預計投資年期</td>
                <td><span class="my-xedit my-xedit-text" id="assumeinvest_year"></span> 年</td>
            </tr>
            <tr>
                <td>供應商</td>
                <td><span id="provider_id"></span></td>
                <td>預計離場</td>
                <td>
                    <span data-type="select" class="my-xedit my-xedit-sel" id="assumeleave_year" data-obj="objYearNum"></span> / 
                    <span data-type="select" class="my-xedit my-xedit-sel" id="assumeleave_season" data-obj="objSeason"></span>
                 (西元年/第幾季)</td>
            </tr>
            <tr>
                <td>項目狀況</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="nowphase" data-obj="objNowPhase"></span></td>
                <td>房地產項目國家</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="p5Country" data-obj="objP5Country"></span></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>幣別</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="p5Dollar" data-obj="objP5Dollar"></span></td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr class="info">
                <!-- <tr> -->
                <th colspan="4" class="warning">配息銀行帳戶</th>
            </tr>
        </thead>
        <colgroup>
            <col class="width-title bg-grey" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" />
        </colgroup>
        <tbody>
            <tr>
                <td>Beneficiary Bank Location</td>
                <td><span class="my-xedit my-xedit-text" id="beneficiary_bank_location"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Beneficiary Bank Name</td>
                <td><span class="my-xedit my-xedit-text" id="beneficiary_bank_name"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Beneficiary Bank Address</td>
                <td><span class="my-xedit my-xedit-text" id="beneficiary_bank_address"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>SWIFT code</td>
                <td><span class="my-xedit my-xedit-text" id="swift_code"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Beneficiary Account Number</td>
                <td><span class="my-xedit my-xedit-text" id="beneficiary_account_number"></span></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Beneficiary Name</td>
                <td><span class="my-xedit my-xedit-text" id="beneficiary_name"></span></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr class="info">
                <th colspan="12" class="warning">配息記錄</th>
            </tr>
            <tr class="active">
                <th>年度</th>
                <th>期別</th>
                <th>投資金額<BR>(本金)</th>
                <th>投資年期<BR>(起)</th>
                <th>投資年期<BR>(迄)</th>
                <th>年息率</th>
                <th>計息天數 <BR>(365天)</th>
                <th>利息<BR>(美元)</th>
                <th>當期分派金額<BR>(美元)</th>
                <th>累積分派金額<BR>(美元)</th>
                <th>配息日期</th>
                <th>備註</th>
            </tr>
        </thead>
        <colgroup>
            <col class="width-title2 bg-grey" />
            <col class="width-title2 bg-grey" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
            <col class="bg-content" span="" />
        </colgroup>
        <tbody id="arrGiveInterestRecord">
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        {{#if isFixedInterest}}
        <tfoot>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td colspan="4" id="arrGiveInterestRecord-footer"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: right;">
                    <div class="on-editing">
                    <a href="#" class="addGiveInterestRecord button button-3d button-mini button-rounded button-leaf"><i class="icon-plus"></i> 新增</a>
                    <!-- <a href="#" class="addPaymentDateMoney button button-3d button-mini button-rounded button-leaf"><i class="icon-plus"></i> 新增</a> -->
                    </div>
                </td>
            </tr>
        </tfoot>
        {{/if}}
    </table>
    <table class="table">
        <thead>
            <tr class="info">
                <th colspan="7" class="warning">客服跟進事項</th>
            </tr>
        </thead>
    </table>
    <div id="e_followservice"></div>
    <table class="table">
        <thead>
            <tr class="info">
                <th class="warning">附加檔案</th>
            </tr>
        </thead>
        <tbody class="on-editing">
            <tr>
                <td>
                    <!-- <input type="file" multiple="" name="myfile" class="myFileInput sm-form-control"> -->
                    <input id="input-3" name="input2[]" type="file" class="file file_bag file-loading" multiple data-show-upload="false" data-show-caption="true" data-show-preview="true">
                    <BR>
                    <a href="#" class="upload button button-3d button-small button-rounded button-teal button-dark fright"><i class="icon-external-link"></i>Upload</a>
                    {{#each files}}
                    <!-- <h4></h4> -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
                            {{file.original_name}} {{percent_uploaded}}%
                        </div>
                    </div>
                    {{/each}}
                </td>
            </tr>
        </tbody>
    </table>
    <div id="cFiles"></div>
</template>