<template name="portfolio7">
  <!-- <h4>股票</h4> -->
  <table class="table">
    <thead>
      <tr class="success">
        <!-- <tr> -->
        <th colspan="4">{{product4_text}}</th>
      </tr>
      <tr class="info">
        <!-- <tr> -->
        <th colspan="4" class="warning">計劃資料</th>
      </tr>
    </thead>
    <colgroup>
      <col class="width-title bg-grey" />
      <col class="width-content bg-content" span="" />
      <col class="width-title bg-grey" span="" />
      <col class="width-content bg-content" />
    </colgroup>
    <tbody>
      <tr>
        <td>Name of Certificate</td>
        <td>
          <span class="my-xedit my-xedit-text" id="certificate_name"></span>
        </td>
        <td>投資金額</td>
        <td>
          <span class="my-xedit my-xedit-text" id="invest_money"></span>
        </td>
      </tr>
      <tr>
        <td>Certificate Number</td>
        <td>
          <span class="my-xedit my-xedit-text" id="certificate_no"></span>
        </td>
        <td>匯款日</td>
        <td>
          <span data-type="combodate" class="my-xedit my-xedit-date" id="payment_date"></span>
        </td>
      </tr>
      <tr>
        <td>生效日</td>
        <td>
          <span data-type="combodate" class="my-xedit my-xedit-date" id="effective_date"></span>
        </td>
        <td>匯款方式</td>
        <td>
          <span class="my-xedit my-xedit-text" id="payment_method"></span>
        </td>
      </tr>
      <tr>
        <td>供應商</td>
        <td>
          <span id="provider_id"></span>
        </td>
        <td>Grandtag</td>
        <td>收款憑證</td>
        <td>
          <span data-type="combodate" class="my-xedit my-xedit-date" id="receive_money_date"></span>
        </td>
      </tr>
      <tr>
        <td>項目狀況</td>
        <td>
          <span data-type="select" class="my-xedit my-xedit-sel" id="nowphase" data-obj="objNowPhase"></span>
        </td>
        <td>股權憑證交付</td>
        <td>
          <span data-type="combodate" class="my-xedit my-xedit-date" id="stockrightsummit"></span>
        </td>
      </tr>
      <!-- <tr>
                <td>閉鎖期</td>
                <td><span data-type="select" class="my-xedit my-xedit-sel" id="lockmonth" data-obj="objLockMonth"></span></td>
                <td>最後更新日期</td>
                <td>{{nowUpdatedAt}}</td>
            </tr> -->
    </tbody>
  </table>
  <table class="table">
    <thead>
      <tr class="info">
        <!-- <tr> -->
        <th colspan="4" class="warning">配息銀行帳戶</th>
      </tr>
    </thead>
    <colgroup>
      <col class="width-title bg-grey" />
      <col class="bg-content" span="" />
      <col class="bg-content" span="" />
      <col class="bg-content" />
    </colgroup>
    <tbody>
      <tr>
        <td>Beneficiary Bank Location</td>
        <td>
          <span class="my-xedit my-xedit-text" id="beneficiary_bank_location"></span>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Beneficiary Bank Name</td>
        <td>
          <span class="my-xedit my-xedit-text" id="beneficiary_bank_name"></span>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Beneficiary Bank Address</td>
        <td>
          <span class="my-xedit my-xedit-text" id="beneficiary_bank_address"></span>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>SWIFT code</td>
        <td>
          <span class="my-xedit my-xedit-text" id="swift_code"></span>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Beneficiary Account Number</td>
        <td>
          <span class="my-xedit my-xedit-text" id="beneficiary_account_number"></span>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Beneficiary Name</td>
        <td>
          <span class="my-xedit my-xedit-text" id="beneficiary_name"></span>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <table class="table">
    <thead>
      <tr class="info">
        <!-- <tr> -->
        <th colspan="9" class="warning">配息記錄</th>
      </tr>
      <tr class="active">
        <!-- <tr> -->
        <th>&nbsp;&nbsp;年度</th>
        <th>日期</th>
        <th>投資金額</th>
        <th>提領</th>
        <th>累積金額</th>
        <th>&nbsp;&nbsp;年度&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期別</th>
        <!-- <th>利率條件</th> -->
        <th>配息日期</th>
        <th>配息利率</th>
        <th>配息金額</th>
        <!-- <th>利率條件</th>
				<th>配息日期</th>
				<th>配息金額</th> -->
      </tr>
    </thead>
    <colgroup>
      <col class="width-title bg-grey" />
      <col class="bg-content" span="" />
      <col class="bg-content" span="" />
      <col class="bg-content" span="" />
      <col class="bg-content" span="" />
      <col class="width-title bg-grey" />
      <col class="bg-content" span="" />
      <col class="bg-content" span="" />
      <col class="bg-content" span="" />
      <col class="bg-content" span="" />
      <col class="bg-content" span="" />
      <col class="bg-content" span="" />
      <col class="bg-content" span="" />
    </colgroup>
    <tbody id="arrGiveInterestRecord">
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <!-- <td></td> -->
        <td style="text-align: right;">
          <a href="#" class="on-editing addGiveInterestRecord button button-3d button-mini button-rounded button-leaf">
            <i class="icon-plus"></i> 新增</a>
        </td>
      </tr>
    </tfoot>
  </table>
  <table class="table">
    <thead>
      <tr class="info">
        <th colspan="7" class="warning">客服跟進事項</th>
      </tr>
    </thead>
  </table>
  <div id="e_followservice"></div>
  <table class="table">
    <thead>
      <tr class="info">
        <th class="warning">附加檔案</th>
      </tr>
    </thead>
    <tbody class="on-editing">
      <tr>
        <td>
          <!-- <input type="file" multiple="" name="myfile" class="myFileInput sm-form-control"> -->
          <input id="input-3" name="input2[]" type="file" class="file file_bag file-loading" multiple data-show-upload="false" data-show-caption="true"
            data-show-preview="true">
          <BR>
          <a href="#" class="upload button button-3d button-small button-rounded button-teal button-dark fright">
            <i class="icon-external-link"></i>Upload</a>
          {{#each files}}
          <!-- <h4></h4> -->
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{percent_uploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_uploaded}}%;">
              {{file.original_name}} {{percent_uploaded}}%
            </div>
          </div>
          {{/each}}
        </td>
      </tr>
    </tbody>
  </table>
  <div id="cFiles"></div>
</template>