<template name="menu_inhouse">
  {{#if isInRole 'auth_cus-read'}}
  <li class="">
    <a href="#">
      <div>1 客戶管理</div>
    </a>
    <ul>
      <li>
        <a href="/clientslist2">
          <div>1-1 客戶列表</div>
        </a>
      </li>
      <li>
        <a href="/clientslist">
          <div>1-2 客戶投資內容</div>
        </a>
      </li>
      <li>
        <a href="/follownewcase">
          <div>1-3 新件進度</div>
        </a>
      </li>
      <!--   <li>
                  <a href="/prulifesetting">
                      <div>Pru life 設定</div>
                  </a>
              </li>
              <li>
                  <a href="/colonialsetting">
                      <div>Colonial 設定</div>
                  </a>
              </li> -->
      <!-- <li>
                  <a href="/user">
                      <div>客戶個人資料</div>
                  </a>
              </li> -->
    </ul>
  </li>
  {{/if}} {{#if isInRole 'auth_as-read'}}
  <li class="">
    <!-- <a href="/afterservice"> -->
    <a href="#">
      <div>2 售後服務</div>
    </a>
    <ul>
      <li>
        <a href="/email">
          <div>2-1 電子郵件</div>
        </a>
      </li>
      <li>
        <a href="/applyservice">
          <div>2-2 案件申請</div>
        </a>
      </li>
      <li>
        <a href="/followservice">
          <div>2-3 案件追蹤</div>
        </a>
      </li>
      <li>
        <a href="/payreminder">
          <div>2-4 繳費提醒</div>
        </a>
      </li>
      <li>
        <a href="/birthreminder">
          <div>2-5 生日提醒</div>
        </a>
      </li>
      <!-- <li>
                  <a href="/renewalreminder">
                      <div>續期保費匯款指示</div>
                  </a>
              </li> -->
      <li>
        <a href="/fundtransfer">
          <div>2-6 基金淨值更新</div>
        </a>
      </li>
      <!-- <li>
                  <a href="/realestatecount">
                      <div>房產配息試算</div>
                  </a>
              </li> -->
      <!-- <li>
                  <a href="/assetsallocation">
                      <div>資產配置表</div>
                  </a>
              </li> -->
      <li>
        <a href="/interestcondition">
          <div>2-7 配息條件【客戶配息】</div>
        </a>
      </li>
      <li>
        <a href="/reportcenter">
          <div>2-8 文件追蹤</div>
        </a>
      </li>
      <li>
        <a href="/formcenter">
          <div>2-9 表單中心</div>
        </a>
      </li>
    </ul>
  </li>
  {{/if}} {{#if isInRole 'auth_prod-read'}}
  <li>
    <a href="#">
      <div>3 產品中心</div>
    </a>
    <ul>
      <li>
        <a href="/productinfo">
          <div>3-1 產品資訊</div>
        </a>
      </li>
      <li>
        <a href="/productcompare">
          <div>3-2 產品比較</div>
        </a>
      </li>
    </ul>
  </li>
  {{#if isInRole 'auth_hr-read'}}
  <li class="">
    <a href="#">
      <div>4 人資管理</div>
    </a>
    <ul>
      <li>
        <a href="/hrform">
          <div>4-1 人事規章</div>
        </a>
      </li>
      <li>
        <a href="/blank_form">
          <div>4-2 空白表單</div>
        </a>
      </li>
      <li>
        <a href="/employee/{{userid}}">
          <div>4-3 員工資料</div>
        </a>
      </li>
      {{#if department_id}}
      <li>
        <a href="/dayoff/{{department_id}}">
          <div>4-4 差勤申請</div>
        </a>
      </li>
      {{else}}
      <li>
        <a href="/employee/{{userid}}">
          <div>4-4-1 差勤申請(請先設定事業群)</div>
        </a>
      </li>
      {{/if}} {{#if isInRole 'auth_hr-edit'}}
      <li>
        <a href="/hrform_management">
          <div>4-5 * 人事規章管理</div>
        </a>
      </li>
      <li>
        <a href="/hrlist">
          <div>4-6 * 差勤管理</div>
        </a>
      </li>
      <li>
        <a href="/employeelist">
          <div>4-7 * 員工列表</div>
        </a>
      </li>
      <li>
        <a href="/authority">
          <div>4-8 * 權限設定</div>
        </a>
      </li>
      <li>
        <a href="/businessgroup">
          <div>4-9 * 隸屬事業群設定</div>
        </a>
      </li>
      {{/if}}
    </ul>
  </li>
  {{else}}
  <li class="">
    <a href="#">
      <div>4 人資管理</div>
    </a>
    <ul>
      <li>
        <a href="/hrform">
          <div>4-1 人事規章</div>
        </a>
      </li>
      <li>
        <a href="/blank_form">
          <div>4-2 空白表單</div>
        </a>
      </li>
      <li>
        <a href="/employee/{{userid}}">
          <div>4-3 員工資料</div>
        </a>
      </li>
      {{#if department_id}}
      <li>
        <a href="/dayoff/{{department_id}}">
          <div>4-4 差勤申請</div>
        </a>
      </li>
      {{else}}
      <li>
        <a href="/employee/{{userid}}">
          <div>4-4-1 差勤申請(請先設定事業群)</div>
        </a>
      </li>
      {{/if}}
    </ul>
  </li>
  {{/if}}
  {{#if isInRole 'auth_fin-read'}}
  <li>
    <a href="#">
      <div>5 財務＆績效管理</div>
    </a>
    <ul>
      <!-- <li>
                <a href="/financial">
                    <div>財務管理 (本月)</div>
                </a>
            </li> -->
      <li>
        <a href="/financiallist">
          <div>5-1 財會報表</div>
        </a>
      </li>
      <li>
        <a href="/fin_sales">
          <div>5-2 業務績效考核</div>
        </a>
      </li>
      <!-- <li>
                <a href="/fin_sales">
                    <div>1-3 佣金管理</div>
                </a>
            </li> -->
      <li>
        <a href="/fin_stat">
          <div>5-3 產品統計</div>
        </a>
      </li>
      <!-- <li>
                <a href="/fin_chartist">
                    <div>財務分析</div>
                </a>
            </li> -->
      <!--  <li>
                <a href="/account">
                    <div>會計科目</div>
                </a>
            </li>
            <li>
                <a href="/bankacc">
                    <div>會計帳本</div>
                </a>
            </li> -->
    </ul>
  </li>
  {{/if}}
  {{/if}} {{#if isInRole 'auth_web-read'}}
  <li>
    <a href="#">
      <div>6 網站管理</div>
    </a>
    <ul>
      <li>
        <a href="/homepics">
          <div>6-1 首頁輪播照片</div>
        </a>
      </li>
      <li>
        <a href="/oproduct1">
          <div>6-2 產品管理(外部) 選單</div>
        </a>
      </li>
      <li>
        <a href="/oproduct">
          <div>6-3 產品管理(外部) 內容</div>
        </a>
      </li>
      <li>
        <a href="/product">
          <div>6-4 產品管理(內部)</div>
        </a>
      </li>
      <li>
        <a href="/fundconfigure">
          <div>6-5 基金管理(內部)</div>
        </a>
      </li>
      <li>
        <a href="/interestcondition_co">
          <div>6-6 配息條件【公司應收配息】</div>
        </a>
      </li>
      <li>
        <a href="/provider">
          <div>6-7 供應商管理</div>
        </a>
      </li>
      <li>
        <a href="/announce">
          <div>6-8 公告管理</div>
        </a>
      </li>
      <li>
        <a href="/voyasetting">
          <div>6-9 新件設定管理</div>
        </a>
      </li>
      <li>
        <a href="/emailauto">
          <div>6-10 電子郵件管理</div>
        </a>
      </li>
      <!-- <li>
                <a href="#">
                    <div>6-11 資料修改記錄</div>
                </a>
            </li> -->
    </ul>
  </li>
  {{/if}}
</template>
<template name="menu_guest">
  <li>
    <a href="http://www.hanburyifa.com/tc/Index.php" target="_blank">
      <div>漢栢略</div>
    </a>
    <ul>
      <li>
        <a href="http://www.hanburyifa.com/tc/ourgroup.php" target="_blank">
          <div>
            <i class="icon-stack"></i>關於我們</div>
        </a>
      </li>
      <li>
        <a href="http://www.hanburyifa.com/tc/Investmentphilosophy.php" target="_blank">
          <div>
            <i class="icon-gift"></i>投資理念</div>
        </a>
      </li>
      <li>
        <a href="http://www.hanburyifa.com/tc/GlobalNetwork.php" target="_blank">
          <div>
            <i class="icon-umbrella"></i>全球網絡</div>
        </a>
      </li>
      <li>
        <a href="http://www.hanburyifa.com/tc/SocialResponsibility.php" target="_blank">
          <div>
            <i class="icon-line-layout"></i>企業責任</div>
        </a>
      </li>
      <li>
        <a href="http://www.hanburyifa.com/tc/Careers.php" target="_blank">
          <div>
            <i class="icon-align-justify2"></i>加入我們</div>
        </a>
      </li>
    </ul>
  </li>
  <li class="">
    <a href="http://www.hanburyifa.com/tc/Investmentphilosophy.php" target="_blank">
      <div>投資理念</div>
    </a>
  </li>
  <li>
    <a href="http://www.hanburyifa.com/tc/Service_GlobalWealthManagement.php" target="_blank">
      <div>我們的服務</div>
    </a>
    <ul>
      <li>
        <a href="http://www.hanburyifa.com/tc/Service_GlobalWealthManagement.php" target="_blank">
          <div>
            <i class="icon-stack"></i>全球財務管理</div>
        </a>
      </li>
      <li>
        <a href="http://www.hanburyifa.com/tc/Service_InvestmentAdvisoryServices.php" target="_blank">
          <div>
            <i class="icon-gift"></i>投資咨詢服務</div>
        </a>
      </li>
      <li>
        <a href="http://www.hanburyifa.com/tc/Service_GlobalRealEstateInvestment.php" target="_blank">
          <div>
            <i class="icon-umbrella"></i>全球房地產投資</div>
        </a>
      </li>
      <li>
        <a href="http://www.hanburyifa.com/tc/Service_GlobalProtection.php" target="_blank">
          <div>
            <i class="icon-line-layout"></i>全球保障</div>
        </a>
      </li>
    </ul>
  </li>
  <!--     <li class="">
        <a href="http://www.hanburyifa.com/tc/lastestnews.php" target="_blank">
            <div>最新消息</div>
        </a>
    </li> -->
  <li class="">
    <a href="http://www.hanburyifa.com/tc/Contactus.php" target="_blank">
      <div>連絡我們</div>
    </a>
  </li>
</template>
<template name="menu_all">
  <li class="current mega-menu">
    <a href="#">
      <div>
        <i class="icon-reorder"></i>
      </div>
    </a>
    <div class="mega-menu-content style-2 clearfix">
      <ul class="mega-menu-column col-5">
        <li class="mega-menu-title">
          <a href="#">
            <div>房地產</div>
          </a>
          <ul>
            <li>
              <a href="blog.html">
                <div>美國房產</div>
              </a>
              <ul>
                <li>
                  <a href="blog.html">
                    <div>美國房產</div>
                  </a>
                </li>
                <li>
                  <a href="blog.html">
                    <div>美國房產</div>
                  </a>
                </li>
                <li>
                  <a href="blog.html">
                    <div>美國房產</div>
                  </a>
                </li>

              </ul>
            </li>

            <li>
              <a href="blog-left-sidebar.html">
                <div>英國房產</div>
              </a>
            </li>
            <li>
              <a href="blog-both-sidebar.html">
                <div>西班牙房產</div>
              </a>
            </li>
            <li>
              <a href="blog-full-width.html">
                <div>加拿大房產</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="mega-menu-title">
          <a href="#">
            <div>保險</div>
          </a>
          <ul>
            <li>
              <a href="blog-timeline-left-sidebar.html">
                <div>Left Sidebar</div>
              </a>
            </li>
            <li>
              <a href="blog-timeline.html">
                <div>Full Width</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="mega-menu-column col-5">
        <li class="mega-menu-title">
          <a href="#">
            <div>投資</div>
          </a>
          <ul>
            <li>
              <a href="blog-timeline-right-sidebar.html">
                <div>Right Sidebar</div>
              </a>
            </li>
            <li>
              <a href="blog-masonry.html">
                <div>4 Columns</div>
              </a>
            </li>
            <li>
              <a href="blog-masonry-full.html">
                <div>100% Width</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="mega-menu-title">
          <a href="#">
            <div>營運</div>
          </a>
          <ul>
            <li>
              <a href="blog-small-left-sidebar.html">
                <div>商品管理</div>
              </a>
            </li>
            <li>
              <a href="blog-small.html">
                <div>審核追蹤</div>
              </a>
            </li>
            <li>
              <a href="blog-small-both-sidebar.html">
                <div>客戶投資內容</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="mega-menu-column col-5">
        <li class="mega-menu-title">
          <a href="#">
            <div>財務</div>
          </a>
          <ul>
            <li>
              <a href="blog-grid.html">
                <div>會計帳</div>
              </a>
            </li>
            <li>
              <a href="blog-masonry.html">
                <div>人資管理</div>
              </a>
            </li>
            <li>
              <a href="blog-masonry.html">
                <div>股東盈餘分配</div>
              </a>
            </li>
            <li>
              <a href="blog-masonry.html">
                <div>董監酬勞</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="mega-menu-title">
          <a href="#">
            <div>通知</div>
          </a>
          <ul>
            <li>
              <a href="blog-grid.html">
                <div>公告管理</div>
              </a>
            </li>
            <li>
              <a href="blog-masonry.html">
                <div>行事曆管理</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="mega-menu-column col-5">
        <li class="mega-menu-title">
          <a href="#">
            <div>業務</div>
          </a>
          <ul>
            <li>
              <a href="blog-grid.html">
                <div>我的客戶管理</div>
              </a>
            </li>
            <li>
              <a href="blog-masonry.html">
                <div>我的收佣管理</div>
              </a>
            </li>
            <li>
              <a href="blog-masonry.html">
                <div>房產配息試算</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="mega-menu-title">
          <a href="#">
            <div>團隊</div>
          </a>
          <ul>
            <li>
              <a href="blog-single-left-sidebar.html#comments">
                <div>業績統計</div>
              </a>
            </li>
            <li>
              <a href="blog-single-small.html#comments">
                <div>發佣狀況</div>
              </a>
            </li>
            <li>
              <a href="blog-single-small.html#comments">
                <div>會計帳</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="mega-menu-column col-5">
        <li class="mega-menu-title">
          <a href="#">
            <div>相關連結</div>
          </a>
          <ul>
            <li>
              <a href="blog-single.html">
                <div>廣達官網</div>
              </a>
            </li>
            <li>
              <a href="blog-single-left-sidebar.html">
                <div>英國友誠國際</div>
              </a>
            </li>
            <li>
              <a href="blog-single-full.html">
                <div>標準人壽</div>
              </a>
            </li>
            <li>
              <a href="blog-single-small.html">
                <div>ITA官網</div>
              </a>
            </li>
            <li>
              <a href="blog-single-split-right-sidebar.html">
                <div>YOGA官網</div>
              </a>
            </li>
            <li>
              <a href="blog-single-split-right-sidebar.html">
                <div>YOGA官網</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </li>
</template>
<template name="menu_product">
  <li class="current mega-menu">
    <a href="#">
      <div>
        <i class="icon-reorder"></i>
      </div>
    </a>
    <div class="mega-menu-content style-2 clearfix" style="position:absolute; top:50%; left:50%; z-index:9999">
      <ul class="mega-menu-column col-5">
        <li class="mega-menu-title">
          {{> left_menu1}}
          <!-- <a href="#">
                        <div>房地產</div>
                    </a> -->
          <!-- <ul>
                        <li>
                            <a href="blog.html">
                                <div>美國房產</div>
                            </a>
                            <ul>
                                <li><a href="blog.html">
                                    <div>美國房產</div>
                                </a></li>
                                <li><a href="blog.html">
                                    <div>美國房產</div>
                                </a></li>
                                <li><a href="blog.html">
                                    <div>美國房產</div>
                                </a></li>
                                
                            </ul>
                        </li>

                        <li>
                            <a href="blog-left-sidebar.html">
                                <div>英國房產</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-both-sidebar.html">
                                <div>西班牙房產</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-full-width.html">
                                <div>加拿大房產</div>
                            </a>
                        </li>
                    </ul> -->
        </li>
        <!-- <li class="mega-menu-title">
                    <a href="#">
                        <div>保險</div>
                    </a>
                    <ul>
                        <li>
                            <a href="blog-timeline-left-sidebar.html">
                                <div>Left Sidebar</div>
                            </a>
                        </li>
                        <li>
                            <a href="blog-timeline.html">
                                <div>Full Width</div>
                            </a>
                        </li>
                    </ul>
                </li> -->
      </ul>
    </div>
  </li>
</template>