<template name="header_login">
    <style type="text/css">
        #top-cart {
            display: block !important;
        }
    </style>
    <div id="top-cart">
        <a href="/login" id="" style="width: 48px;"><i class="icon-line2-login"></i> 登入</a>
    </div>
</template>
<template name="header_login2">
    <div id="top-cart">
        <a href="#" id="top-cart-trigger" style="width: 48px;"><i class="icon-line2-login"></i> 登入</a>
        <div class="top-cart-content">
            <div class="top-cart-title">
                <h4>使用者登入
                    <button class="btn-showlogin button button-3d button-mini nomargin fright button-leaf"
                        type="button">登入選單</button>
                    <button class="btn-showregister button button-3d button-mini nomargin fright button-pink"
                        style="margin-right: 10px;" type="button">註冊選單</button>
                </h4>
            </div>
            {{> login}} {{> register}}
        </div>
    </div>
</template>
<template name="header_logout">
    <style type="text/css">
        #top-cart {
            display: block !important;
        }
    </style>
    <div id="top-cart">
        <a href="/logout" id="" style="width: 48px;"><i class="icon-line2-logout"></i> 登出</a>
    </div>
    <div id="top-cart">
        <a style="width: 200px;" href="/employee/{{userid}}"><i class="icon-user"></i> {{engname}}</a>
    </div>
</template>
<template name="header_search">
    <!-- Top Search
                        ============================================= -->
    <div id="top-search">
        <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
        <form action="search.html" method="get">
            <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
        </form>
    </div>
    <!-- #top-search end -->
</template>
<!-- <template name="left_menu4">
    {{#each product4}}
    <li>
        <a class="menu-product3-a" data-id="{{_id}}" href="/product4/{{product4_order1_id}}">{{value}}</a>
    </li>
    {{/each}}
</template>
<template name="left_menu3">
    {{#each product3}}
    <li>
        <a class="menu-product3-a" data-id="{{_id}}" href="/product3/{{_id}}">{{value}}</a>
    </li>
    {{/each}}
</template>
<template name="left_menu2">
    {{#each product2}}
    <li>
        <a href="#">
            <i class="icon-briefcase"></i>{{value}}</a>
        <ul>
            {{> left_menu4 product2_id=_id}}
        </ul>
    </li>
    {{/each}}
</template> -->
<!-- <template name="left_menu1">
    {{#each product1}}
    <div class="product-menu toggle">
        <div class="togglet">
            <i class="toggle-closed icon-ok-circle"></i>
            <i class="toggle-open icon-remove-circle"></i>{{value}}</div>
        <div class="togglec">
            <nav class="nav-tree nobottommargin">
                <ul>
                    {{> left_menu2 product1_id=_id }}
                    <li>&nbsp;</li>
                </ul>
            </nav>
        </div>
    </div>
    {{/each}}
</template> -->
<template name="mainpage_header">
    <!-- Header
        ============================================= -->
    <header id="header" class="sticky-style-2">
        <div class="container clearfix">
            <!-- Logo
                ============================================= -->
            <div id="logo">
                <a href="/" class="standard-logo" data-dark-logo="/logo.png"><img src="/logo.png"
                        alt="Hanbury Logo"></a>
                <a href="/" class="retina-logo" data-dark-logo="/logo.png"><img src="/logo.png" alt="Hanbury Logo"></a>
            </div>
            <!-- #logo end -->
            <!-- start -->
            {{#if currentUser}}
            <!-- <div class="top-advert">
                <nav class="nav-tree bottommargin-sm">
                    <ul>
                        <h4 class="my-underline" style="font-size: 16px;width: 103px;margin-bottom: -5px;margin-top:10px;">產品總覽&nbsp;</h4>
                        {{> left_menu1}}
                         {{> menu_all}}
                    </ul>
                </nav>
            </div> -->
            <!-- <div id="header-wrap"> -->
            <!-- Primary Navigation
                            ============================================= -->
            <!-- <nav id="primary-menu" class="style-2">
                    <div class="container clearfix">
                        <div id="primary-menu-trigger">
                            <i class="icon-reorder"></i>
                        </div>
                        <ul>
                            {{#if currentUser}} {{> menu_all}} {{/if}}
                        </ul>
                    </div>
                </nav> -->
            <!-- #primary-menu end -->
            <!-- </div> -->
            <div class="top-advert">
                <nav class="nav-tree bottommargin-sm style-2" id="primary-menu">
                    <ul>
                        {{#if currentUser}} {{> menu_product}} {{/if}}
                    </ul>
                </nav>
            </div>
            <!-- end -->
            <!-- # link srart -->
            <div class="top-advert">
                <nav class="nav-tree bottommargin-sm">
                    <ul>
                        <h4 class="my-underline"
                            style="font-size: 16px;width: 110px;margin-bottom: -5px;margin-top:10px;">相關產品官網&nbsp;</h4>
                        <li>
                            <a href="http://www.hanburyifa.com/en/Index.php" target="_blank">Hanbury IFA</a>
                        </li>
                        <a href="http://www.hanburyifa.com/en/Index.php" target="_blank">
                            <img style="max-width:80px;width: 80px;" src="/logo.png">
                        </a>
                    </ul>
                </nav>
            </div>
            <div class="top-advert">
                <nav class="nav-tree bottommargin-sm">
                    <ul>
                        <h4 class="my-underline"
                            style="font-size: 16px;width: 103px;margin-bottom: -5px;margin-top:10px;"> </h4>
                        <li>
                            <a href="https://www.fpinternational.com/" target="_blank">英國友誠</a>
                        </li>
                        <a href="https://www.fpinternational.com/" target="_blank">
                            <img style="max-width:80px" src="/logos/fpi.png">
                        </a>
                    </ul>
                </nav>
            </div>
            <div class="top-advert">
                <nav class="nav-tree bottommargin-sm">
                    <ul>
                        <h4 class="my-underline"
                            style="font-size: 16px;width: 103px;margin-bottom: -5px;margin-top:10px;"> </h4>
                        <li>
                            <a href="http://www.grandtag.com/zh-hk/" target="_blank">廣達理財</a>
                        </li>
                        <a href="http://www.grandtag.com/zh-hk/" target="_blank">
                            <img style="max-width:80px;height: 21px; width: 80px;" src="/logos/gt.png">
                        </a>
                    </ul>
                </nav>
            </div>
            <div class="top-advert">
                <nav class="nav-tree bottommargin-sm">
                    <ul>
                        <h4 class="my-underline"
                            style="font-size: 16px;width: 103px;margin-bottom: -5px;margin-top:10px;"> </h4>
                        <li>
                            <a href="http://www.standardlife.hk/" target="_blank">標準人壽 </a>
                        </li>
                        <a href="http://www.standardlife.hk/" target="_blank">
                            <img style="max-width:80px;height: 21px; width: 80px;" src="/logos/sl.jpg">
                        </a>
                    </ul>
                </nav>
            </div>
            <div class="top-advert">
                <nav class="nav-tree bottommargin-sm">
                    <ul>
                        <h4 class="my-underline"
                            style="font-size: 16px;width: 103px;margin-bottom: -5px;margin-top:10px;"> </h4>
                        <li>
                            <a href="https://www.voyalifecustomerservice.com/elifeportal/welcome.do"
                                target="_blank">VOYA保險官網</a>
                        </li>
                        <a href="https://www.voyalifecustomerservice.com/elifeportal/welcome.do" target="_blank">
                            <img style="max-width:80px;height: 16px;width: 80px;" src="/logos/voya.gif">
                        </a>
                    </ul>
                </nav>
            </div>
            <!-- # link end -->
            {{/if}}
        </div>
        <div id="header-wrap">
            <!-- Primary Navigation
                ============================================= -->
            <nav id="primary-menu" class="style-2">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    <ul>
                        {{#if currentUser}} {{> menu_all}} {{ > menu_inhouse}} {{else}} {{> menu_guest}} {{/if}}
                    </ul>
                    {{#if currentUser}}
                    <!-- <p>You're logged in.</p> -->
                    {{> header_logout}} {{else}} {{> header_login}} {{/if}} {{! > header_search}}
                </div>
            </nav>
            <!-- #primary-menu end -->
        </div>
    </header>
    <!-- #header end -->
</template>